/* ==========================================================================
   Ui-kit elements -- headings
   ========================================================================== */

/* Default styles
   -------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* Established styles
   -------------------------------------------------------------------------- */

.heading {
  //@include media-breakpoint-down(md) {}
  $root: &;

  color: $color-black;
  font-weight: 700;

  &__differ {
    color: red;
    font-weight: 700;
  }

  &__mark {
    position: relative;

    &::after {
      position: absolute;
      top: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: red;
      content: "";
    }
  }

  &[data-level="1"] {
    @include headings-sizes($root, "h1");
    @include h1--size($root, "l");

    @include media-breakpoint-down(lg) {
      @include h1--size($root, "m");
    }

    @include media-breakpoint-down(sm) {
      @include h1--size($root, "s");
    }
  }

  &[data-level="2"] {
    @include headings-sizes($root, "h2");
    @include h2--size($root, "l");

    @include media-breakpoint-down(lg) {
      @include h2--size($root, "m");
    }

    @include media-breakpoint-down(sm) {
      @include h2--size($root, "s");
    }
  }

  &[data-level="3"] {
    @include headings-sizes($root, "h3");
    @include h3--size($root, "l");

    @include media-breakpoint-down(lg) {
      @include h3--size($root, "m");
    }

    @include media-breakpoint-down(sm) {
      @include h3--size($root, "s");
    }
  }

  &[data-level="4"] {
    @include headings-sizes($root, "h4");
    @include h4--size($root, "l");

    @include media-breakpoint-down(lg) {
      @include h4--size($root, "m");
    }

    @include media-breakpoint-down(sm) {
      @include h4--size($root, "s");
    }
  }

  &[data-level="5"] {
    @include headings-sizes($root, "h5");
    @include h5--size($root, "l");

    @include media-breakpoint-down(lg) {
      @include h5--size($root, "m");
    }

    @include media-breakpoint-down(sm) {
      @include h5--size($root, "s");
    }
  }

  &[data-level="6"] {
    @include headings-sizes($root, "h6");
    @include h6--size($root, "l");

    @include media-breakpoint-down(lg) {
      @include h6--size($root, "m");
    }

    @include media-breakpoint-down(sm) {
      @include h6--size($root, "s");
    }
  }
}
