/* ==========================================================================
   Ui-kit component -- lists
   ========================================================================== */

/* Default styles
   -------------------------------------------------------------------------- */

ul,
ol {
  margin: 0;
  padding: 0;

  ul,
  ol {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
  }
}

dl {
  margin: 0;
  padding: 0;

  dt,
  dd {
    margin: 0;
  }
}

/* Established styles
   -------------------------------------------------------------------------- */

/* Extends, mixins */

%list {
  font-family: inherit;

  li {
    margin-bottom: px-to-rem(10px);
    list-style-position: inside;

    &:last-child {
      margin-bottom: 0;
    }

    > span {
      display: inline;
    }
  }
}

/* ----- Unordered list */

.list {
  //@include media-breakpoint-down(md) {}
  $root: &;
  @extend %list;
  @include body-text-sizes($root);
  @include body-text--size($root, "l");

  @include media-breakpoint-down(lg) {
    @include body-text--size($root, "m");
  }

  @include media-breakpoint-down(sm) {
    @include body-text--size($root, "s");
  }
}

/* ----- Ordered list */

.numlist {
  //@include media-breakpoint-down(md) {}
  $root: &;
  @extend %list;
  @include size-l--list;
  @include body-text-sizes($root);
  @include body-text--size($root, "l");

  @include media-breakpoint-down(lg) {
    @include size-m--list;
    @include body-text--size($root, "m");
  }

  @include media-breakpoint-down(sm) {
    @include size-s--list;
    @include body-text--size($root, "s");
  }

  &--stylized-marker {
    counter-reset: li;

    > li {
      position: relative;
      list-style: none;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        background-color: $color-black;
        content: counter(li);
        counter-increment: li;
      }
    }

    ol {
      margin-left: 1em;
    }
  }

  &--stylized-numbering {
    counter-reset: li;

    > li {
      list-style: none;

      &::before {
        display: inline-block;
        content: counters(li, ".") ".";
        counter-increment: li;
      }
    }
  }

  // ----------------------------------------

  // sizes

  &--size-l {
    @include size-l--list(!important);
  }

  &--size-m {
    @include size-m--list(!important);
  }

  &--size-s {
    @include size-s--list(!important);
  }
}

/* ----- Description list */

.desclist {

  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: px-to-rem(24px);
  }

  // ----------------------------------------

  // sizes

  &--size-l {
    //@include desclist--size-l;
  }

  &--size-m {
    //@include desclist--size-m;
  }

  &--size-s {
    //@include desclist--size-s;
  }
}
