@import "../../../../styles/dependencies";

/* ==========================================================================
   Ui-kit elements -- notification-primary
   ========================================================================== */

.notification-primary {
  $root: &;
  //@include media-breakpoint-down(md) {}

  @include notification-primary-sizes($root);
  @include notification-primary-color-themes($root);
  @include notification-primary--size($root, "l");

  display: flex;
  align-items: center;
  word-break: break-word;
}
