/* ==========================================================================
   Component -- logo
   ========================================================================== */

.logo {
  $root: &;
  //@include media-breakpoint-down(md) {}

  display: block;
  width: 100px;
  height: 100px;
  text-decoration: none;

  img {
    display: block;
    width: 100%;
    height: 100%;
    background-color: darkviolet;
  }
}
