/* ==========================================================================
   Component -- header-fixed
   ========================================================================== */

.header-fixed {
  $root: &;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9000;
  display: flex;
  min-height: px-to-rem(50px);
  background-color: violet;
  transform: translateY(-100%);
  transition: transform ease-out 0.2s;

  &__container {
    @include make-container-with-sides();
    @include make-container-with-sides-max-widths();
  }

  &__row {
    @include make-row();

    min-height: inherit;
  }

  &__col {
    @include make-col-ready();
  }

  &__component-name1 {
    @include make-col(2);

    @include media-breakpoint-down(md) {
      @include make-col(2, $grid-columns-6);
    }

    background-color: green;
    background-clip: content-box;
  }

  &__component-name2 {
    background-color: yellow;
    background-clip: content-box;
  }

  &__component-name3 {
    background-color: blue;
    background-clip: content-box;
  }

  &--visible {
    transform: translateY(0);
  }
}
