// =============================================================================
// Mixins -- SidebarDrop size
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

@mixin sidebar-drop--size($root, $size, $important: null) {

  top: 0;
  bottom: 0;
  height: 100%;

  &[data-position="left"] {
    left: 0;
  }

  &[data-position="right"] {
    right: 0;
  }

  &[data-not-border-radius] {
    border-radius: 0 !important;
  }

  @if $size == "l" {
    min-width: px-to-rem(480px);
    max-width: px-to-rem(480px);

    &[data-inner-offset] {
      padding: px-to-rem(16px);
    }

    &[data-outer-offset] {
      margin: px-to-rem(16px);
    }
  }

  @if $size == "m" {
    //min-width: 100%;

    &[data-inner-offset] {
      padding: px-to-rem(8px);
    }

    &[data-outer-offset] {
      margin: px-to-rem(8px);
    }
  }

  @if $size == "s" {

  }
}

//
// Mixin data-attributes
// --------------------------------------------------------------------------

$sidebarDropSizes: (
  "l",
  "m",
  "s",
);

@mixin sidebar-drop-sizes($root) {
  @each $key in $sidebarDropSizes {
    &[data-size="#{$key}"] {
      @include sidebar-drop--size($root, $key, !important);
    }
  }
}
