.table {
  width: 100%;
  margin-bottom: 10px;
  color: $black;
  font-size: 24px;
  font-family: $secure-fonts;
  text-align: right;
  text-transform: uppercase;
  border: none;
  border-collapse: separate;
  border-spacing: 30px 10px;

  caption {
    text-align: center;
  }

  th,
  td {
    padding: 5px 20px;
  }

  td {

  }

  thead th {
    vertical-align: bottom;
  }

  tbody td {
    background-color: $white;
  }
}