/* ==========================================================================
   Component -- news
   ========================================================================== */

.news {
  $root: &;
  //@include media-breakpoint-down(md) {}

  min-height: 100px;
  padding-top: 0;
  padding-bottom: 0;

  &__container {
    //@include make-container-max-widths();
    //@include make-container-with-layout-gutter();
  }

  &__header {

  }

  &__main {

  }

  &__heading {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__more {
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__list {
    @include make-row();

    padding: 0;
    list-style: none;
  }

  &__item {
    @include make-col-ready();

    margin-bottom: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}

.news-card {
  $root: &;

  height: 100%;

  &__header {

  }

  &__body {

  }

  &__footer {
    margin-top: auto;
  }

  &__pic {
    position: relative;
    width: 100%;
    height: 150px;
    margin: 0;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      background-color: darkviolet;
      transform: translate(-50%, -50%);
    }
  }

  &__date {
    font-style: italic;

    //&-day {
    //
    //}
    //
    //&-month {
    //
    //}
    //
    //&-year {
    //
    //}
    //
    //&-time {
    //
    //}
  }

  &__title {
    margin-bottom: 0;
  }

  &__excerpt {
    margin-top: 0;
  }

  &__author {
    font-style: italic;
  }

  &__link {

  }

  &__more {

  }
}
