/* ==========================================================================
   Component -- add-secondary
   ========================================================================== */

.add-secondary {
  $root: &;
  //@include media-breakpoint-down(md) {}

  background-color: palevioletred;

  &__container {
    @include make-container();
    @include make-container-max-widths();
  }

  &__row {
    @include make-row();
  }

  &__col {
    @include make-col-ready();

    padding: 5px;
  }
}
