/* ==========================================================================
   Component -- sidebar-primary
   ========================================================================== */

.sidebar-primary {
  $root: &;
  //@include media-breakpoint-down(md) {}

  padding: 5px;
  background-color: red;

  &__section {
    min-height: px-to-rem(50px);
    margin-bottom: px-to-rem(50px);
    padding: 5px;
    background-color: yellow;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
