// =============================================================================
// Constants
// =============================================================================

// Colors
$white:          #fff;
$black:          #000;

$bright-red:     #a60002;

// Fonts
$secure-fonts: Arial, Helvetica, "Nimbus Sans", Sans-serif;
$font-segoeui-regular: SegoeUI-Regular, $secure-fonts;
$default-font-size: 16px;

// =============================================================================
// Variables
// =============================================================================

// body
$body-bg: $white;
$body-color: $black;
$body-font-family: $secure-fonts;
$body-font-size: $default-font-size;

// Grid
$enable-grid-classes: true;
$grid-columns: 12;
$grid-gutter-width: 0;

$layout-gutter-widths: (
  sm: px-to-rem(30px - $grid-gutter-width),
  xl: px-to-rem(60px - $grid-gutter-width),
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Desktop-only version
//$container-max-widths: (
//  sm: 1200px
//);

// Responsive version
$container-max-widths: (
  xs: 320px + $grid-gutter-width,
  sm: 520px + $grid-gutter-width,
  xl: 1000px + $grid-gutter-width
);

// Popups
$popup-overlay-bg: $black;
$popup-overlay-opacity: 0.8;
$popup-width: 800px;