// =============================================================================
// Constants
// =============================================================================

// Colors
$white: #fff;
$black: #000;

$bright-red: #a60002;

// Fonts
$secure-fonts: Arial, Helvetica, "Nimbus Sans", Sans-serif;
$font-segoeui-regular: SegoeUI-Regular, $secure-fonts;
$default-font-size: 16px;

// =============================================================================
// Variables
// =============================================================================

// body
$body-bg: $white;
$body-color: $black;
$body-font-family: $secure-fonts;
$body-font-size: $default-font-size;

// Grid
$enable-grid-classes: false;
$grid-columns-12: 12;
$grid-columns-6: 6;
$grid-columns: $grid-columns-12;
$grid-gutter-width: 32px;
$grid-columns-map: (
  xs: $grid-columns-6,
  sm: $grid-columns-6,
  md: $grid-columns-6,
  lg: $grid-columns-12,
  xl: $grid-columns-12,
);
$grid-gutter-width-map: (
  xs: 16px,
  sm: 16px,
  md: 32px,
  lg: 16px,
  xl: 32px,
);

// TODO: have to finish it soon
$layout-gutter-widths: (
  xs: 32px - map-get($grid-gutter-width-map, xs),
  sm: 32px - map-get($grid-gutter-width-map, sm),
  md: 64px - map-get($grid-gutter-width-map, md),
);


$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  xxl: 1920px
);
$container-max-widths: (
  // Desktop-only version
  //  sm: 1200px
  // Responsive version
  xs: 272px + map-get($grid-gutter-width-map, xs),
  sm: 100%,
  md: 624px + map-get($grid-gutter-width-map, md),
  lg: 880px + map-get($grid-gutter-width-map, lg),
  xl: 1168px + map-get($grid-gutter-width-map, xl)
);

// Popups
$popup-overlay-bg: $black;
$popup-overlay-opacity: 0.8;
$popup-width: 800px;