<section class="features">
  <div class="features__container">
    <header class="features__header">
      <h2 class="features__heading">Features</h2>
    </header>
    <div class="features__main">
      <ul class="features__list">
        <li class="features__item"><!-- features__item--feature1 -->
          <p class="features__title">Feature 1</p>
          <p class="features__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </li>
        <li class="features__item"><!-- features__item--feature1 -->
          <p class="features__title">Feature 2</p>
          <p class="features__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </li>
        <li class="features__item"><!-- features__item--feature1 -->
          <p class="features__title">Feature 3</p>
          <p class="features__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </li>
        <li class="features__item"><!-- features__item--feature1 -->
          <p class="features__title">Feature 4</p>
          <p class="features__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </li>
        <li class="features__item"><!-- features__item--feature1 -->
          <p class="features__title">Feature 5</p>
          <p class="features__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </li>
        <li class="features__item"><!-- features__item--feature1 -->
          <p class="features__title">Feature 6</p>
          <p class="features__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </li>
      </ul>
    </div>
  </div>
</section>