/* ==========================================================================
   Component -- footer
   ========================================================================== */

.footer {
  $root: &;
  //@include media-breakpoint-down(md) {}

  display: flex;
  flex-direction: column;
  min-height: inherit;
  overflow: hidden;
  background-color: red;

  &__section {
    display: flex;

    &:nth-child(1) {
      flex-grow: 1;
      background-color: orange;
    }

    &:nth-child(2) {
      min-height: px-to-rem(50px);
      background-color: gray;
    }
  }

  &__container {
    @include make-container-with-sides();
    @include make-container-with-sides-max-widths();

    display: flex;
    flex-direction: column;
  }

  &__row {
    @include make-row();

    flex-grow: 1;
    min-height: inherit;
  }

  &__col {
    @include make-col-ready();
  }

  &__component-name1 {
    background-color: green;
    background-clip: content-box;
  }

  &__component-name2 {
    background-color: yellow;
    background-clip: content-box;
  }

  &__component-name3 {
    background-color: blue;
    background-clip: content-box;
  }

  &__component-name4 {
    @include make-col(2);

    @include media-breakpoint-down(md) {
      @include make-col(4, $grid-columns-6);
    }

    background-color: red;
    background-clip: content-box;
  }

  &__component-name5 {
    @include make-col(10);

    @include media-breakpoint-down(md) {
      @include make-col(4, $grid-columns-6);
    }

    background-color: aqua;
    background-clip: content-box;
  }
}
