<section class="ui-kit-library__element">
  <h2 class="ui-kit-library__element-heading">
    Body text
  </h2>

  <table class="ui-kit-library__type">
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>L</small></th>
        <th><small>M</small></th>
        <th><small>S</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"></td>
        <td>
          <p class="body-text body-text--size-l">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, voluptas.
          </p>
        </td>
        <td>
          <p class="body-text body-text--size-m">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, voluptas.
          </p>
        </td>
        <td>
          <p class="body-text body-text--size-s">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, voluptas.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</section>
