<section class="ui-kit-library__element">
  <h2 class="ui-kit-library__element-heading">
    Buttons
  </h2>

  <table class="ui-kit-library__type">
    <thead>
      <tr>
        <th class="name">Primary</th>
        <th><small>L</small></th>
        <th><small>M</small></th>
        <th><small>S</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name">Inactive</td>
        <td>
          <button type="button" class="button-primary button-primary--size-l">Button primary</button>
        </td>
        <td>
          <button type="button" class="button-primary button-primary--size-m">Button primary</button>
        </td>
        <td>
          <button type="button" class="button-primary button-primary--size-s">Button primary</button>
        </td>
      </tr>
      <tr>
        <td class="name">Hover</td>
        <td>
          <button type="button" class="button-primary button-primary--hover button-primary--size-l">Button primary</button>
        </td>
        <td>
          <button type="button" class="button-primary button-primary--hover button-primary--size-m">Button primary</button>
        </td>
        <td>
          <button type="button" class="button-primary button-primary--hover button-primary--size-s">Button primary</button>
        </td>
      </tr>
      <tr>
        <td class="name">Pressed</td>
        <td>
          <button type="button" class="button-primary button-primary--active button-primary--size-l">Button primary</button>
        </td>
        <td>
          <button type="button" class="button-primary button-primary--active button-primary--size-m">Button primary</button>
        </td>
        <td>
          <button type="button" class="button-primary button-primary--active button-primary--size-s">Button primary</button>
        </td>
      </tr>
      <tr>
        <td class="name">Disabled</td>
        <td>
          <button type="button" class="button-primary button-primary--disabled button-primary--size-l">Button primary</button>
        </td>
        <td>
          <button type="button" class="button-primary button-primary--disabled button-primary--size-m">Button primary</button>
        </td>
        <td>
          <button type="button" class="button-primary button-primary--disabled button-primary--size-s">Button primary</button>
        </td>
      </tr>
      <tr>
        <td class="name">Fullwidth</td>
        <td colspan="3">
          <button type="button" class="button-primary button-primary--fullwidth button-primary--size-s">
            Button primary
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="ui-kit-library__type">
    <thead>
      <tr>
        <th class="name">Secondary</th>
        <th><small>L</small></th>
        <th><small>M</small></th>
        <th><small>S</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name">Inactive</td>
        <td>
          <button type="button" class="button-secondary button-secondary--size-l">Button secondary</button>
        </td>
        <td>
          <button type="button" class="button-secondary button-secondary--size-m">Button secondary</button>
        </td>
        <td>
          <button type="button" class="button-secondary button-secondary--size-s">Button secondary</button>
        </td>
      </tr>
      <tr>
        <td class="name">Hover</td>
        <td>
          <button type="button" class="button-secondary button-secondary--hover button-secondary--size-l">Button secondary</button>
        </td>
        <td>
          <button type="button" class="button-secondary button-secondary--hover button-secondary--size-m">Button secondary</button>
        </td>
        <td>
          <button type="button" class="button-secondary button-secondary--hover button-secondary--size-s">Button secondary</button>
        </td>
      </tr>
      <tr>
        <td class="name">Pressed</td>
        <td>
          <button type="button" class="button-secondary button-secondary--active button-secondary--size-l">Button secondary</button>
        </td>
        <td>
          <button type="button" class="button-secondary button-secondary--active button-secondary--size-m">Button secondary</button>
        </td>
        <td>
          <button type="button" class="button-secondary button-secondary--active button-secondary--size-s">Button secondary</button>
        </td>
      </tr>
      <tr>
        <td class="name">Disabled</td>
        <td>
          <button type="button" class="button-secondary button-secondary--disabled button-secondary--size-l">Button secondary</button>
        </td>
        <td>
          <button type="button" class="button-secondary button-secondary--disabled button-secondary--size-m">Button secondary</button>
        </td>
        <td>
          <button type="button" class="button-secondary button-secondary--disabled button-secondary--size-s">Button secondary</button>
        </td>
      </tr>
      <tr>
        <td class="name">Fullwidth</td>
        <td colspan="3">
          <button type="button" class="button-secondary button-secondary--fullwidth button-secondary--size-s">
            Button secondary
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="ui-kit-library__type">
    <thead>
      <tr>
        <th class="name">Apps</th>
        <th><small>L</small></th>
        <th><small>M</small></th>
        <th><small>S</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name">Inactive</td>
        <td>
          <button type="button" class="button-apps button-apps--size-l">
            <span class="icon-svg icon-svg--size-l">
                  <svg>
                    <use xlink:href="#id" />
                  </svg>
                </span>

            <div class="button-apps__content">
              <span class="button-apps__desc caption caption--size-l">Download on the</span>
              <span class="button-apps__title heading heading--h6 heading--h6-size-l">App Store</span>
            </div>
          </button>
        </td>
        <td>
          <button type="button" class="button-apps button-apps--size-m">
            <span class="icon-svg icon-svg--size-m">
                  <svg>
                    <use xlink:href="#id" />
                  </svg>
                </span>

            <div class="button-apps__content">
              <span class="button-apps__desc caption caption--size-m">Download on the</span>
              <span class="button-apps__title heading heading--h6 heading--h6-size-m">App Store</span>
            </div>
          </button>
        </td>
        <td>
          <button type="button" class="button-apps button-apps--size-s">
            <span class="icon-svg icon-svg--size-s">
                  <svg>
                    <use xlink:href="#id" />
                  </svg>
                </span>

            <div class="button-apps__content">
              <span class="button-apps__desc caption caption--size-s">Download on the</span>
              <span class="button-apps__title heading heading--h6 heading--h6-size-s">App Store</span>
            </div>
          </button>
        </td>
      </tr>
      <tr>
        <td class="name">Hover</td>
        <td>
          <button type="button" class="button-apps button-apps--hover button-apps--size-l">
            <span class="icon-svg icon-svg--size-l">
                  <svg>
                    <use xlink:href="#id" />
                  </svg>
                </span>

            <div class="button-apps__content">
              <span class="button-apps__desc caption caption--size-l">Download on the</span>
              <span class="button-apps__title heading heading--h6 heading--h6-size-l">App Store</span>
            </div>
          </button>
        </td>
        <td>
          <button type="button" class="button-apps button-apps--hover button-apps--size-m">
            <span class="icon-svg icon-svg--size-m">
                  <svg>
                    <use xlink:href="#id" />
                  </svg>
                </span>

            <div class="button-apps__content">
              <span class="button-apps__desc caption caption--size-m">Download on the</span>
              <span class="button-apps__title heading heading--h6 heading--h6-size-m">App Store</span>
            </div>
          </button>
        </td>
        <td>
          <button type="button" class="button-apps button-apps--hover button-apps--size-s">
            <span class="icon-svg icon-svg--size-s">
                  <svg>
                    <use xlink:href="#id" />
                  </svg>
                </span>

            <div class="button-apps__content">
              <span class="button-apps__desc caption caption--size-s">Download on the</span>
              <span class="button-apps__title heading heading--h6 heading--h6-size-s">App Store</span>
            </div>
          </button>
        </td>
      </tr>
      <tr>
        <td class="name">Pressed</td>
        <td>
          <button type="button" class="button-apps button-apps--active button-apps--size-l">
            <span class="icon-svg icon-svg--size-l">
                  <svg>
                    <use xlink:href="#id" />
                  </svg>
                </span>

            <div class="button-apps__content">
              <span class="button-apps__desc caption caption--size-l">Download on the</span>
              <span class="button-apps__title heading heading--h6 heading--h6-size-l">App Store</span>
            </div>
          </button>
        </td>
        <td>
          <button type="button" class="button-apps button-apps--active button-apps--size-m">
            <span class="icon-svg icon-svg--size-m">
                  <svg>
                    <use xlink:href="#id" />
                  </svg>
                </span>

            <div class="button-apps__content">
              <span class="button-apps__desc caption caption--size-m">Download on the</span>
              <span class="button-apps__title heading heading--h6 heading--h6-size-m">App Store</span>
            </div>
          </button>
        </td>
        <td>
          <button type="button" class="button-apps button-apps--active button-apps--size-s">
            <span class="icon-svg icon-svg--size-s">
                  <svg>
                    <use xlink:href="#id" />
                  </svg>
                </span>

            <div class="button-apps__content">
              <span class="button-apps__desc caption caption--size-s">Download on the</span>
              <span class="button-apps__title heading heading--h6 heading--h6-size-s">App Store</span>
            </div>
          </button>
        </td>
      </tr>
      <tr>
        <td class="name">Disabled</td>
        <td>
          <button type="button" class="button-apps button-apps--disabled button-apps--size-l">
            <span class="icon-svg icon-svg--size-l">
                  <svg>
                    <use xlink:href="#id" />
                  </svg>
                </span>

            <div class="button-apps__content">
              <span class="button-apps__desc caption caption--size-l">Download on the</span>
              <span class="button-apps__title heading heading--h6 heading--h6-size-l">App Store</span>
            </div>
          </button>
        </td>
        <td>
          <button type="button" class="button-apps button-apps--disabled button-apps--size-m">
            <span class="icon-svg icon-svg--size-m">
                  <svg>
                    <use xlink:href="#id" />
                  </svg>
                </span>

            <div class="button-apps__content">
              <span class="button-apps__desc caption caption--size-m">Download on the</span>
              <span class="button-apps__title heading heading--h6 heading--h6-size-m">App Store</span>
            </div>
          </button>
        </td>
        <td>
          <button type="button" class="button-apps button-apps--disabled button-apps--size-s">
            <span class="icon-svg icon-svg--size-s">
                  <svg>
                    <use xlink:href="#id" />
                  </svg>
                </span>

            <div class="button-apps__content">
              <span class="button-apps__desc caption caption--size-s">Download on the</span>
              <span class="button-apps__title heading heading--h6 heading--h6-size-s">App Store</span>
            </div>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

