<section class="ui-kit-library__element">
  <h2 class="ui-kit-library__element-heading">
    Colors
  </h2>

  <table class="ui-kit-library__type">
    <thead>
      <tr>
        <th><small>Brand</small></th>
        <th><small>Grey Scale</small></th>
        <th><small>Additional</small></th>
        <th><small>Default</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul class="colors-list">
            <li>
              <span style="background-color: #fff;" class="bg"></span>
              <span class="name">Brand 1 ()</span>
            </li>
            <li>
              <span style="background-color: #fff;" class="bg"></span>
              <span class="name">Brand 2 ()</span>
            </li>
          </ul>
        </td>
        <td>
          <ul class="colors-list">
            <li>
              <span style="background-color: #fff;" class="bg"></span>
              <span class="name">Grey Scale 1 ()</span>
            </li>
            <li>
              <span style="background-color: #fff;" class="bg"></span>
              <span class="name">Grey Scale 2 ()</span>
            </li>
          </ul>
        </td>
        <td>
          <ul class="colors-list">
            <li>
              <span style="background-color: #fff;" class="bg"></span>
              <span class="name">Additional 1 ()</span>
            </li>
            <li>
              <span style="background-color: #fff;" class="bg"></span>
              <span class="name">Additional 2 ()</span>
            </li>
          </ul>
        </td>
        <td>
          <ul class="colors-list">
            <li>
              <span style="background-color: #fff;" class="bg"></span>
              <span class="name">White (#fff)</span>
            </li>
            <li>
              <span style="background-color: #000;" class="bg"></span>
              <span class="name">Black (#000)</span>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</section>