<section class="ui-kit-library__element">
  <h2 class="ui-kit-library__element-heading">
    Fonts
  </h2>

  <table class="ui-kit-library__type">
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>Black</small></th>
        <th><small>Bold</small></th>
        <th><small>Medium</small></th>
        <th><small>Regular</small></th>
        <th><small>Light</small></th>
        <th><small>Thin</small></th>
      </tr>
    </thead>
    <tbody class="fonts-list">
      <tr style="font-family: 'Arial';">
        <td class="name">Font Name 1</td>
        <td style="font-weight: 900;">Font</td>
        <td style="font-weight: 700;">Font</td>
        <td style="font-weight: 500;">Font</td>
        <td style="font-weight: 400;">Font</td>
        <td style="font-weight: 300;">Font</td>
        <td style="font-weight: 100;">Font</td>
      </tr>
      <tr style="font-family: 'Times New Roman';">
        <td class="name">Font Name 2</td>
        <td style="font-weight: 900;">Font</td>
        <td style="font-weight: 700;">Font</td>
        <td style="font-weight: 500;">Font</td>
        <td style="font-weight: 400;">Font</td>
        <td style="font-weight: 300;">Font</td>
        <td style="font-weight: 100;">Font</td>
      </tr>
    </tbody>
  </table>
</section>