<section class="ui-kit-library__element">
  <h2 class="ui-kit-library__element-heading">
    Headings
  </h2>

  <table class="ui-kit-library__type">
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>L</small></th>
        <th><small>M</small></th>
        <th><small>S</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <h1 class="heading heading--h1 heading--h1-size-l">H1</h1>
          <h2 class="heading heading--h2 heading--h2-size-l">H2</h2>
          <h3 class="heading heading--h3 heading--h3-size-l">H3</h3>
          <h4 class="heading heading--h4 heading--h4-size-l">H4</h4>
          <h5 class="heading heading--h5 heading--h5-size-l">H5</h5>
          <h6 class="heading heading--h6 heading--h6-size-l">H6</h6>
        </td>
        <td>
          <h1 class="heading heading--h1 heading--h1-size-m">H1</h1>
          <h2 class="heading heading--h2 heading--h2-size-m">H2</h2>
          <h3 class="heading heading--h3 heading--h3-size-m">H3</h3>
          <h4 class="heading heading--h4 heading--h4-size-m">H4</h4>
          <h5 class="heading heading--h5 heading--h5-size-m">H5</h5>
          <h6 class="heading heading--h6 heading--h6-size-m">H6</h6>
        </td>
        <td>
          <h1 class="heading heading--h1 heading--h1-size-s">H1</h1>
          <h2 class="heading heading--h2 heading--h2-size-s">H2</h2>
          <h3 class="heading heading--h3 heading--h3-size-s">H3</h3>
          <h4 class="heading heading--h4 heading--h4-size-s">H4</h4>
          <h5 class="heading heading--h5 heading--h5-size-s">H5</h5>
          <h6 class="heading heading--h6 heading--h6-size-s">H6</h6>
        </td>
      </tr>
    </tbody>
  </table>
</section>
