<section class="ui-kit-library__element">
  <h2 class="ui-kit-library__element-heading">
    Icons
  </h2>

  <table class="ui-kit-library__type">
    <thead>
      <tr>
        <th class="name">Icons SVG</th>
        <th><small>XS – 16px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-svg" data-size="xs">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg" data-size="xs">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg" data-size="xs">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg" data-size="xs">
            <svg><use xlink:href="#id" /></svg>
          </div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>S – 24px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-svg" data-size="s">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg" data-size="s">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg" data-size="s">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg" data-size="s">
            <svg><use xlink:href="#id" /></svg>
          </div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>M – 32px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-svg" data-size="m">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg" data-size="m">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg" data-size="m">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg" data-size="m">
            <svg><use xlink:href="#id" /></svg>
          </div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>L – 40px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-svg" data-size="l">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg" data-size="l">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg" data-size="l">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg" data-size="l">
            <svg><use xlink:href="#id" /></svg>
          </div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>XL – 48px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-svg icon-svg--size-xl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xl">
            <svg><use xlink:href="#id" /></svg>
          </div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>XXL – 64px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-svg icon-svg--size-xxl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xxl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xxl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xxl">
            <svg><use xlink:href="#id" /></svg>
          </div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>XXXL – 80px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-svg icon-svg--size-xxxl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xxxl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xxxl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xxxl">
            <svg><use xlink:href="#id" /></svg>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
