<section class="ui-kit-library__element">
  <h2 class="ui-kit-library__element-heading">
    Icons
  </h2>

  <table class="ui-kit-library__type">
    <thead>
      <tr>
        <th class="name">Icons SVG</th>
        <th><small>XS – 16px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-svg icon-svg--size-xs">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xs">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xs">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xs">
            <svg><use xlink:href="#id" /></svg>
          </div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>S – 24px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-svg icon-svg--size-s">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-s">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-s">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-s">
            <svg><use xlink:href="#id" /></svg>
          </div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>M – 32px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-svg icon-svg--size-m">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-m">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-m">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-m">
            <svg><use xlink:href="#id" /></svg>
          </div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>L – 40px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-svg icon-svg--size-l">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-l">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-l">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-l">
            <svg><use xlink:href="#id" /></svg>
          </div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>XL – 48px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-svg icon-svg--size-xl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xl">
            <svg><use xlink:href="#id" /></svg>
          </div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>XXL – 64px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-svg icon-svg--size-xxl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xxl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xxl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xxl">
            <svg><use xlink:href="#id" /></svg>
          </div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>XXXL – 80px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-svg icon-svg--size-xxxl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xxxl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xxxl">
            <svg><use xlink:href="#id" /></svg>
          </div>

          <div class="icon-svg icon-svg--size-xxxl">
            <svg><use xlink:href="#id" /></svg>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="ui-kit-library__type">
    <thead>
      <tr>
        <th class="name">Icons PNG</th>
        <th><small>XS – 16px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-png icon-png--size-xs"></div>
          <div class="icon-png icon-png--size-xs"></div>
          <div class="icon-png icon-png--size-xs"></div>
          <div class="icon-png icon-png--size-xs"></div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>S – 24px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-png icon-png--size-s"></div>
          <div class="icon-png icon-png--size-s"></div>
          <div class="icon-png icon-png--size-s"></div>
          <div class="icon-png icon-png--size-s"></div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>M – 32px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-png icon-png--size-m"></div>
          <div class="icon-png icon-png--size-m"></div>
          <div class="icon-png icon-png--size-m"></div>
          <div class="icon-png icon-png--size-m"></div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>L – 40px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-png icon-png--size-l"></div>
          <div class="icon-png icon-png--size-l"></div>
          <div class="icon-png icon-png--size-l"></div>
          <div class="icon-png icon-png--size-l"></div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>XL – 48px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-png icon-png--size-xl"></div>
          <div class="icon-png icon-png--size-xl"></div>
          <div class="icon-png icon-png--size-xl"></div>
          <div class="icon-png icon-png--size-xl"></div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>XXL – 64px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-png icon-png--size-xxl"></div>
          <div class="icon-png icon-png--size-xxl"></div>
          <div class="icon-png icon-png--size-xxl"></div>
          <div class="icon-png icon-png--size-xxl"></div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="name"></th>
        <th><small>XXXL – 80px</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="icon-png icon-png--size-xxxl"></div>
          <div class="icon-png icon-png--size-xxxl"></div>
          <div class="icon-png icon-png--size-xxxl"></div>
          <div class="icon-png icon-png--size-xxxl"></div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
