<section class="ui-kit-library__element">
  <h2 class="ui-kit-library__element-heading">
    Links
  </h2>

  <table class="ui-kit-library__type">
    <thead>
      <tr>
        <th class="name">Primary</th>
        <th><small>L</small></th>
        <th><small>M</small></th>
        <th><small>S</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name">Inactive</td>
        <td>
          <a href="" class="link-primary link-primary--size-l">Link primary</a>
        </td>
        <td>
          <a href="" class="link-primary link-primary--size-m">Link primary</a>
        </td>
        <td>
          <a href="" class="link-primary link-primary--size-s">Link primary</a>
        </td>
      </tr>
      <tr>
        <td class="name">Hover</td>
        <td>
          <a href="" class="link-primary link-primary--hover link-primary--size-l">Link primary</a>
        </td>
        <td>
          <a href="" class="link-primary link-primary--hover link-primary--size-m">Link primary</a>
        </td>
        <td>
          <a href="" class="link-primary link-primary--hover link-primary--size-s">Link primary</a>
        </td>
      </tr>
      <tr>
        <td class="name">Pressed</td>
        <td>
          <a href="" class="link-primary link-primary--active link-primary--size-l">Link primary</a>
        </td>
        <td>
          <a href="" class="link-primary link-primary--active link-primary--size-m">Link primary</a>
        </td>
        <td>
          <a href="" class="link-primary link-primary--active link-primary--size-s">Link primary</a>
        </td>
      </tr>
      <tr>
        <td class="name">Disabled</td>
        <td>
          <a href="" class="link-primary link-primary--disabled link-primary--size-l">Link primary</a>
        </td>
        <td>
          <a href="" class="link-primary link-primary--disabled link-primary--size-m">Link primary</a>
        </td>
        <td>
          <a href="" class="link-primary link-primary--disabled link-primary--size-s">Link primary</a>
        </td>
      </tr>
    </tbody>
  </table>
</section>

