<section class="components-library__section">
  <h2 class="components-library__heading h2">Slider</h2>
  <div class="components-library__content">

    <div class="slider" data-uikit-slider-container>
      <ul class="slider__list" data-uikit-slider="slider"><!-- slider-name-1 -->
        <li class="slider__item" style="background-color: greenyellow;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, fugit?
        </li>
        <li class="slider__item" style="background-color: blue;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque fugit perferendis! At atque esse nam nisi sequi. Doloribus et eum ex facere libero mollitia porro quod ratione repellendus similique.
        </li>
        <li class="slider__item" style="background-color: orangered;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, fugit?
        </li>
        <li class="slider__item" style="background-color: green;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque fugit perferendis! At atque esse nam nisi sequi. Doloribus et eum ex facere libero mollitia porro quod ratione repellendus similique.
        </li>
      </ul>
      <a class="slider-arrow control-arrow control-arrow--prev">Prev</a>
      <a class="slider-arrow control-arrow control-arrow--next">Next</a>
      <div class="slider-pagination control-pagination"></div>
    </div>

  </div>
</section>