// =============================================================================
// Extends -- Plugs
// =============================================================================

//
// Core
// --------------------------------------------------------------------------

%plug {

}


//
// Outline
// --------------------------------------------------------------------------

%plug-outline {
  border: px-to-rem(1px) solid rgba($color-gray-secondary, .5);
  border-radius: px-to-rem(6px);
}

//
// Background
// --------------------------------------------------------------------------

%plug-bg-color {
  background-color: $color-gray-quaternary ;
}

