<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="/">Главная</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="">О нас</a>
    </li>
    <li class="nav__item">
      <span class="nav__link nav__link--is-current" href="">Преимущества</span>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="">Цены</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="">Отзывы</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="">Акции</a>
    </li>
  </ul>
</nav>