/* ==========================================================================
   Component -- sidebar-secondary
   ========================================================================== */

.sidebar-secondary {
  $root: &;

  padding: 5px;
  background-color: blue;

  &__section {
    min-height: 100px;
    margin-bottom: 50px;
    padding: 5px;
    background-color: aqua;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
