/* ==========================================================================
   Component -- lg-select
   ========================================================================== */

.lg-select {
  $root: &;
  //@include media-breakpoint-down(md) {}

  position: relative;
  display: inline-block;
  font-size: $default-font-size;
  line-height: 1.6;
  border: 1px solid $color-black;

  &:hover {

    #{$root}__list {
      display: block;
    }
  }

  &__current {
    position: relative;
    display: block;
    padding: px-to-rem(5px) px-to-rem(40px) px-to-rem(5px) px-to-rem(10px);
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background-color: aqua;
    transform: translate(0, -50%);

    &::after {
      //@include sprite($icon-instagram);

      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      background-color: darkviolet;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      content: "";
    }

    //svg {
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  width: 100%;
    //  height: auto;
    //  padding: 0;
    //}
  }

  &__list {
    position: absolute;
    top: 100%;
    left: -1px;
    display: none;
    min-width: px-to-rem(110px);
    padding: px-to-rem(10px) 0;
    list-style: none;
    background-color: $color-white;
    border: 1px solid $color-black;
  }

  &__item {

  }

  &__link {
    position: relative;
    display: block;
    padding: px-to-rem(2px) px-to-rem(15px);
    color: $color-black;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__mark {
    color: gray;
    font-size: px-to-rem(12px);
  }
}
