<section class="reviews">
  <div class="reviews__container">
    <header class="reviews__header">
      <h2 class="reviews__heading">Reviews</h2>
      <p class="reviews__heading-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </header>
    <div class="reviews__main">
      <ul class="reviews__list">
        <li class="reviews__item">
          <figure class="reviews__userpic">
            <img src="./assets/img/userpic.jpg" width="150" height="150" alt="">
          </figure>
          <blockquote class="reviews__content">
            <cite class="reviews__name">Jhon Doe <a href="" class="reviews__nick">@jhondoe</a></cite>
            <p class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deserunt sapiente voluptas voluptatibus. Amet distinctio eum excepturi inventore ipsum iste, libero natus non, pariatur perferendis perspiciatis quaerat quidem soluta ullam?</p>
          </blockquote>
        </li>
        <li class="reviews__item">
          <figure class="reviews__userpic">
            <img src="./assets/img/userpic.jpg" width="150" height="150" alt="">
          </figure>
          <blockquote class="reviews__content">
            <cite class="reviews__name">Jhon Doe <a href="" class="reviews__nick">@jhondoe</a></cite>
            <p class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deserunt sapiente voluptas voluptatibus. Amet distinctio eum excepturi inventore ipsum iste, libero natus non, pariatur perferendis perspiciatis quaerat quidem soluta ullam?</p>
          </blockquote>
        </li>
        <li class="reviews__item">
          <figure class="reviews__userpic">
            <img src="./assets/img/userpic.jpg" width="150" height="150" alt="">
          </figure>
          <blockquote class="reviews__content">
            <cite class="reviews__name">Jhon Doe <a href="" class="reviews__nick">@jhondoe</a></cite>
            <p class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deserunt sapiente voluptas voluptatibus. Amet distinctio eum excepturi inventore ipsum iste, libero natus non, pariatur perferendis perspiciatis quaerat quidem soluta ullam?</p>
          </blockquote>
        </li>
      </ul>
<!--      <span class="reviews__control-btn reviews__control-btn&#45;&#45;prev"></span>-->
<!--      <span class="reviews__control-btn reviews__control-btn&#45;&#45;next"></span>-->
<!--      <div class="reviews__control-pagination">-->
<!--        <a></a>-->
<!--        <a></a>-->
<!--        <a></a>-->
      </div>
    </div>
  </div>
</section>