.components-library {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1440px;

  &__header {

  }

  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
  }

  &__logo {
    width: 250px;
    height: 250px;
  }

  &__logo-link {
    display: block;
    height: 100%;
    text-decoration: none;
    text-indent: -9999px;
    background-image: url("../assets/img/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  &__heading {
    margin: 0;
    padding: 0;
    font-family: $font-incised-bold;
    text-align: center;

    &.h1 {
      margin-bottom: 60px;
      font-size: 52px;
    }

    &.h2 {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 36px;
      background-color: $turbo;
    }

    &.h3 {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 24px;
      font-family: $font-geoslab-regular;
      background-color: $gallery;
    }

    &.h4 {
      position: relative;
      margin-top: 60px;
      margin-bottom: 20px;
      color: $silver;
      font-weight: normal;
      font-size: 12px;
      font-family: $secure-fonts;
      text-align: left;

      span {
        display: inline-block;
        padding-right: px-to-rem(6px);
        background-color: $white;
      }

      &::before {
        position: absolute;
        top: 50%;
        z-index: -1;
        width: 100%;
        height: 2px;
        border-bottom: 2px dotted $silver;
        transform: translateY(-50%);
        content: "";
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__nav {
    font-family: $font-geoslab-regular;
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    list-style: none;
  }

  &__nav-item {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__nav-link {
    color: $black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__section {

  }

  &__header {

  }

  &__content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__container {
    padding-right: 50px;
    padding-left: 50px;
  }

  &__row {
    @include make-row();
  }

  &__col {
    border-right: 1px dotted $gray;

    &:last-child {
      border-right: none;
    }
  }
}


.ui-kit-library {

  &__container {
    @include make-container(px-to-rem(100px));
  }

  &__row {
    @include make-row(px-to-rem(30px));

    margin-bottom: px-to-rem(60px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__col {
    @include make-col-ready(px-to-rem(30px));
    @include make-col(4);

    &--colors {
      @include make-col(3);
    }

    &--icons {
      @include make-col(14, 100);
    }
  }

  &__heading {
    font-weight: normal;
    font-family: inherit;

    &--h3 {
      margin-bottom: px-to-rem(20px);
      font-weight: bold;
      font-size: px-to-rem(16px);
    }

    &--h4 {
      position: relative;
      margin-top: px-to-rem(60px);
      margin-bottom: px-to-rem(20px);
      color: $silver;
      font-size: px-to-rem(12px);

      &::before {
        position: absolute;
        top: 50%;
        z-index: -1;
        width: 100%;
        height: 2px;
        border-bottom: 2px dotted $silver;
        transform: translateY(-50%);
        content: "";
      }

      &:first-child {
        margin-top: 0;
      }

      span {
        display: inline-block;
        padding-right: px-to-rem(6px);
        background-color: $white;
      }
    }
  }

  &__colors-list {
    list-style: none;
  }

  &__colors-item {
    margin-bottom: px-to-rem(8px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__colors-bg,
  &__colors-name {
    display: inline-block;
    vertical-align: middle;
  }

  &__colors-bg {
    width: px-to-rem(40px);
    height: px-to-rem(40px);
    margin-right: px-to-rem(8px);
    border: 1px solid $gallery;
    border-radius: 50%;

    &--white {
      background-color: $white;
    }

    &--black {
      background-color: $black;
    }

    &--color {
      background-color: $white;
    }
  }
}