// Unit transform
@function px-to-rem($size, $font-size: $default-font-size) {
  @return ($size / $font-size) * 1rem;
}

// Math
@function sum($numbers...) {
  $sum: 0;
  @each $number in $numbers {
    $sum: $sum + $number;
  }
  @return $sum;
}

@function subtract($numbers...) {
  $subtraction: 0;
  @each $number in $numbers {
    $subtraction: $subtraction - $number;
  }
  @return $subtraction;
}

// Other
@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
