//
// Button primary
// --------------------------------------------------------------------------

@mixin button-primary--size($root, $size, $important: null) {
  @if $size == "l" {
    height: px-to-rem(96px) $important;
    padding-right: px-to-rem(32px) $important;
    padding-left: px-to-rem(32px) $important;
    font-size: px-to-rem(18px) $important;
    line-height: 1.76 $important;
    border-radius: px-to-rem(16px) $important;
  }
  @if $size == "m" {
    height: px-to-rem(80px) $important;
    font-size: px-to-rem(16px) $important;
    line-height: 1.52 $important;
    border-radius: px-to-rem(14px) $important;
  }
  @if $size == "s" {
    height: px-to-rem(72px) $important;
    padding-right: px-to-rem(24px) $important;
    padding-left: px-to-rem(24px) $important;
    font-size: px-to-rem(14px) $important;
    line-height: 1.68 $important;
    border-radius: px-to-rem(12px) $important;
  }
}

//
// Button secondary
// --------------------------------------------------------------------------

@mixin button-secondary--size($root, $size, $important: null) {
  @if $size == "l" {
    height: px-to-rem(64px) $important;
    padding-right: px-to-rem(24px) $important;
    padding-left: px-to-rem(24px) $important;
    font-size: px-to-rem(14px) $important;
    line-height: 1.76 $important;
    border-radius: px-to-rem(32px) $important;
  }
  @if $size == "m" {
    height: px-to-rem(56px) $important;
    font-size: px-to-rem(12px) $important;
    line-height: 1.52 $important;
    border-radius: px-to-rem(28px) $important;
  }
  @if $size == "s" {
    height: px-to-rem(48px) $important;
    font-size: px-to-rem(10px) $important;
    line-height: 1.4 $important;
    border-radius: px-to-rem(24px) $important;
  }
}

//
// Button complex
// --------------------------------------------------------------------------

@mixin button-complex--size($root, $size, $important: null) {
  @if $size == "l" {
    height: px-to-rem(56px) $important;
    padding-right: px-to-rem(16px) $important;
    padding-left: px-to-rem(16px) $important;
    line-height: 1.2 $important;
    border-radius: px-to-rem(28px) $important;

    #{$root}__content {
      margin-right: px-to-rem(8px) $important;
      padding-right: px-to-rem(12px) $important;
    }

    #{$root}__title {
      font-size: px-to-rem(16px) $important;
    }

    #{$root}__desc {
      font-size: px-to-rem(12px) $important;
    }
  }
  @if $size == "m" {
    height: px-to-rem(48px) $important;
    border-radius: px-to-rem(24px) $important;

    #{$root}__title {
      font-size: px-to-rem(14px) $important;
    }

    #{$root}__desc {
      font-size: px-to-rem(10px) $important;
    }
  }
  @if $size == "s" {
    height: px-to-rem(40px) $important;
    border-radius: px-to-rem(20px) $important;

    #{$root}__title {
      font-size: px-to-rem(12px) $important;
    }

    #{$root}__desc {
      font-size: px-to-rem(8px) $important;
    }
  }
}

//
// Button apps
// --------------------------------------------------------------------------

@mixin button-apps--size($root, $size, $important: null) {
  @if $size == "l" {
    height: px-to-rem(56px) $important;
    padding-right: px-to-rem(16px) $important;
    padding-left: px-to-rem(16px) $important;
    line-height: 1.2 $important;
    border-radius: px-to-rem(28px) $important;
  }
  @if $size == "m" {
    height: px-to-rem(48px) $important;
    border-radius: px-to-rem(24px) $important;
  }
  @if $size == "s" {
    height: px-to-rem(40px) $important;
    border-radius: px-to-rem(20px) $important;
  }
}

//
// Sizes
// --------------------------------------------------------------------------

@mixin buttons-sizes($root, $name) {
  @each $key in $sizes {
    &[data-size="#{$key}"] {
      @if $name == "button-primary" {
        @include button-primary--size($root, $key, !important);
      }
      @if $name == "button-secondary" {
        @include button-secondary--size($root, $key, !important);
      }
      @if $name == "button-complex" {
        @include button-complex--size($root, $key, !important);
      }
      @if $name == "button-apps" {
        @include button-apps--size($root, $key, !important);
      }
    }
  }
}