/* ==========================================================================
   Common -- layout
   ========================================================================== */

.layout {
  $root: ".layout";

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: map-get($container-max-widths, xs);

  &__base-container {
    @include make-container();
    @include make-container-max-widths();
    //@include make-container-with-layout-gutter();

    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__row {
    @include make-row();
  }

  &__col {
    @include make-col-ready();
  }

  &__base {
    display: flex;
    flex-grow: 1;
  }

  &__header {
    min-height: px-to-rem(150px);
    margin-bottom: px-to-rem(24px);
  }

  &__footer {
    min-height: px-to-rem(300px);
  }

  &__add {
    min-height: auto;
    margin-bottom: px-to-rem(24px);
  }

  &__base {
    margin-bottom: px-to-rem(24px);
  }

  &__section {
    min-height: auto;
  }

  &__base,
  &__section {
    display: flex;
    flex-grow: 1;
  }

  &__headline {
    margin-bottom: px-to-rem(24px);
  }

  &__main {
    @include make-col-ready();

    background-color: peachpuff;
    background-clip: content-box;
  }

  &__sidebar-primary {
    @include make-col(3);

    @include media-breakpoint-down(lg) {
      @include make-col(12);
    }

    @include media-breakpoint-down(sm) {
      @include make-col(6, $grid-columns-6);
    }
  }

  &__sidebar-secondary {
    @include make-col(2);

    @include media-breakpoint-down(lg) {
      @include make-col(12);
    }

    @include media-breakpoint-down(sm) {
      @include make-col(6, $grid-columns-6);
    }
  }

  &--viewport-height {

    #{$root}__base-container {
      // Change it when you need to implement viewport-height modifier
      height: calc(100vh - 150px - 300px);
    }

    #{$root}__row {
      overflow: hidden;
    }

    #{$root}__col {
      height: 100%;
      overflow: auto;
    }
  }
}
