html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  background-color: $body-bg;
  color: $body-color;
  font-family: $body-font-family;
}