.layout {
  $root: &;

  display: flex;
  flex-direction: column;

  &__header {
    min-height: $layout-header-min-height;
  }

  &__footer {
    min-height: $layout-footer-min-height;
  }

  &__add {
    min-height: $layout-add-min-height;
  }

  &__base {
    display: flex;
    flex-grow: 1;
  }

  &__aside-primary {
    flex: 0 0 $layout-aside-primary-width;
  }

  &__aside-secondary {
    flex: 0 0 $layout-aside-secondary-width;
  }

  &__main {
    flex-grow: 1;
  }

  &--viewport-height {

    #{$root}__base {
      height: calc(100vh - #{$layout-header-min-height} - #{$layout-footer-min-height} - #{$layout-add-min-height});
    }

    #{$root}__aside-primary,
    #{$root}__aside-secondary,
    #{$root}__aside-main {
      overflow: auto;
    }
  }
}