/* ==========================================================================
   Common -- layout
   ========================================================================== */

.layout {
  $root: &;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: map-get($container-max-widths, xs);

  &__header,
  &__footer,
  &__add,
  &__base,
  &__base-container {
    @include make-container();
    //@include make-container-with-layout-gutter();
    //@include make-container-max-widths();
  }

  &__base-container {
    @include make-container-max-widths();

    flex-direction: column;
  }

  &__base,
  &__section,
  &__base-container {
    display: flex;
    flex-grow: 1;
  }

  &__header {
    min-height: $layout-header-min-height;
  }

  &__footer {
    min-height: $layout-footer-min-height;
  }

  &__add {
    min-height: auto;
  }

  &__section {
    min-height: auto;
  }

  &__base-row {
    @include make-row();
  }

  &__col {
    @include make-col-ready();
  }

  &__sidebar-primary {
    @include media-breakpoint-down(lg) {
      @include make-col(100, 100);
    }

    @include make-col-fix(300px);

    padding-right: 50px;
  }

  &__sidebar-secondary {
    @include media-breakpoint-down(lg) {
      @include make-col(100, 100);
    }

    @include make-col(30, 100);
  }

  &--viewport-height {

    #{$root}__base-wrap-inner {
      // Change it when you need to implement viewport-height modifier
      height: calc(100vh - #{$layout-header-min-height} - #{$layout-footer-min-height});
    }

    #{$root}__col {
      height: 100%;
      overflow: auto;
    }
  }
}
