$container-max-width: 1200px;
$layout-header-min-height: 150px;
$layout-footer-min-height: 300px;

$layout-add-min-height: 100px;

$layout-aside-primary-width: 15%;
$layout-aside-secondary-width: 30%;

$body-background-color: #fff;