.nav-global {
  $root: &;

  width: 100%;
  min-height: 50px;
  background-color: aqua;

  &__list {
    display: flex;
    justify-content: space-between;
    min-height: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  &__link {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: $black;
    text-decoration: none;
  }

  &--vertical {
    display: inline-flex;
    width: auto;

    #{$root}__list {
      display: block;
    }

    #{$root}__link {
      justify-content: left;
    }
  }
}
