<nav class="nav-global">
  <ul class="nav-global__list">
    <li class="nav-global__item">
      <a href="/" class="nav-global__link">Главная</a>
    </li>
    <li class="nav-global__item">
      <a href="about" class="nav-global__link">О нас</a>
    </li>
    <li class="nav-global__item">
      <a href="features" class="nav-global__link">Преимущества</a>
    </li>
    <li class="nav-global__item">
      <a href="services" class="nav-global__link">Цены</a>
    </li>
    <li class="nav-global__item">
      <a href="reviews" class="nav-global__link">Отзывы</a>
    </li>
    <li class="nav-global__item">
      <a href="action" class="nav-global__link">Акции</a>
    </li>
  </ul>
</nav>