// =============================================================================
// Mixins -- Heading color theme
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

@mixin heading--color-theme($root, $color-theme, $important: null) {

  @if $color-theme == "blue-dark-secondary" {
    color: $color-blue-dark-secondary;
  }

  @if $color-theme == "inherit" {
    color: inherit;
  }
}

//
// Mixin data-attributes
// --------------------------------------------------------------------------

$headingColorThemes: (
  "inherit",
  "blue-dark-secondary",
);

@mixin heading-color-themes($root) {
  @each $key in $headingColorThemes {
    &[data-color-theme="#{$key}"] {
      @include heading--color-theme($root, $key, !important);
    }
  }
}
