/* ==========================================================================
   Component -- add-primary
   ========================================================================== */

.add-primary {
  $root: &;
  //@include media-breakpoint-down(md) {}

  background-color: palevioletred;

  &__container {
    @include make-container();
    //@include make-container-max-widths();
  }

  &__row {
    @include make-row();
  }

  &__col {
    @include make-col-ready();
  }

  &__section {
    margin-bottom: 10px;
    padding: 5px;
    background-color: silver;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
