// ==========================================================================
// Ui-kit properties -- Size -- Typography -- headings
// ==========================================================================

//
// h1
// --------------------------------------------------------------------------

$size-l--h1: (
  margin-bottom: px-to-rem(48px),
  font-size: px-to-rem(80px),
  line-height: 1.2,
);

$size-m--h1: (
  margin-bottom: px-to-rem(40px),
  font-size: px-to-rem(72px),
  line-height: 1.2,
);

$size-s--h1: (
  margin-bottom: px-to-rem(32px),
  font-size: px-to-rem(40px),
  line-height: 1.24,
);

//
// h2
// --------------------------------------------------------------------------

$size-l--h2: (
  margin-bottom: px-to-rem(40px),
  font-size: px-to-rem(64px),
  line-height: 1.32,
);

$size-m--h2: (
  margin-bottom: px-to-rem(32px),
  font-size: px-to-rem(44px),
  line-height: 1.34,
);

$size-s--h2: (
  margin-bottom: px-to-rem(24px),
  font-size: px-to-rem(32px),
  line-height: 1.5,
);

//
// h3
// --------------------------------------------------------------------------

$size-l--h3: (
  margin-bottom: px-to-rem(32px),
  font-size: px-to-rem(40px),
  line-height: 1.44,
);

$size-m--h3: (
  margin-bottom: px-to-rem(24px),
  font-size: px-to-rem(32px),
  line-height: 1.36,
);

$size-s--h3: (
  margin-bottom: px-to-rem(16px),
  font-size: px-to-rem(24px),
  line-height: 1.32,
);

//
// h4
// --------------------------------------------------------------------------

$size-l--h4: (
  margin-bottom: px-to-rem(24px),
  font-size: px-to-rem(32px),
  line-height: 1.36,
);

$size-m--h4: (
  margin-bottom: px-to-rem(16px),
  font-size: px-to-rem(22px),
  line-height: 1.54,
);

$size-s--h4: (
  margin-bottom: px-to-rem(12px),
  font-size: px-to-rem(20px),
  line-height: 1.4,
);

//
// h5
// --------------------------------------------------------------------------

$size-l--h5: (
  margin-bottom: px-to-rem(20px),
  font-size: px-to-rem(24px),
  line-height: 1.68,
);

$size-m--h5: (
  margin-bottom: px-to-rem(14px),
  font-size: px-to-rem(18px),
  line-height: 1.53,
);

$size-s--h5: (
  margin-bottom: px-to-rem(10px),
  font-size: px-to-rem(18px),
  line-height: 1.56,
);

//
// h6
// --------------------------------------------------------------------------

$size-l--h6: (
  margin-bottom: px-to-rem(16px),
  font-size: px-to-rem(20px),
  line-height: 1.4,
);

$size-m--h6: (
  margin-bottom: px-to-rem(12px),
  font-size: px-to-rem(14px),
  line-height: 1.3,
);

$size-s--h6: (
  margin-bottom: px-to-rem(8px),
  font-size: px-to-rem(12px),
  line-height: 1.4,
);

// ==========================================================================
// Ui-kit mixins-- Size -- Typography -- headings
// ==========================================================================

// $p - properties
// $dp - default properties
// $important - !important state
@mixin size-h($p, $important: null) {
  margin-bottom: map-get($p, margin-bottom) $important;
  font-size: prop-filter(map-get($p, font-size), $important);
  line-height: prop-filter(map-get($p, line-height), $important);

  &:last-child {
    margin-bottom: 0 $important;
  }
}

//
// h1
// --------------------------------------------------------------------------

@mixin size-l--h1($important: null) {
  @include size-h($size-l--h1, $important);
}

@mixin size-m--h1($important: null) {
  @include size-h($size-m--h1, $important);
}

@mixin size-s--h1($important: null) {
  @include size-h($size-s--h1, $important);
}

//
// h2
// --------------------------------------------------------------------------

@mixin size-l--h2($important: null) {
  @include size-h($size-l--h2, $important);
}

@mixin size-m--h2($important: null) {
  @include size-h($size-m--h2, $important);
}

@mixin size-s--h2($important: null) {
  @include size-h($size-s--h2, $important);
}

//
// h3
// --------------------------------------------------------------------------

@mixin size-l--h3($important: null) {
  @include size-h($size-l--h3, $important);
}

@mixin size-m--h3($important: null) {
  @include size-h($size-m--h3, $important);
}

@mixin size-s--h3($important: null) {
  @include size-h($size-s--h3, $important);
}

//
// h4
// --------------------------------------------------------------------------

@mixin size-l--h4($important: null) {
  @include size-h($size-l--h4, $important);
}

@mixin size-m--h4($important: null) {
  @include size-h($size-m--h4, $important);
}

@mixin size-s--h4($important: null) {
  @include size-h($size-s--h4, $important);
}

//
// h5
// --------------------------------------------------------------------------

@mixin size-l--h5($important: null) {
  @include size-h($size-l--h5, $important);
}

@mixin size-m--h5($important: null) {
  @include size-h($size-m--h5, $important);
}

@mixin size-s--h5($important: null) {
  @include size-h($size-s--h5, $important);
}

//
// h6
// --------------------------------------------------------------------------

@mixin size-l--h6($important: null) {
  @include size-h($size-l--h6, $important);
}

@mixin size-m--h6($important: null) {
  @include size-h($size-m--h6, $important);
}

@mixin size-s--h6($important: null) {
  @include size-h($size-s--h6, $important);
}