/* ==========================================================================
   Component -- header
   ========================================================================== */

.header {
  $root: ".header";

  display: flex;
  flex-direction: column;
  min-height: inherit;
  overflow: hidden;
  background-color: red;

  &__section {

    &:nth-child(1) {
      min-height: px-to-rem(100px);
      background-color: orange;
    }

    &:nth-child(2) {
      min-height: px-to-rem(50px);
      background-color: gray;
    }
  }

  &__container {
    @include make-container-with-sides();
    @include make-container-with-sides-max-widths();
  }

  &__row {
    @include make-row();

    min-height: inherit;
  }

  &__col {
    @include make-col-ready();
  }

  &__component-name1 {
    //@include media-breakpoint-down(md) {}

    @include make-col(2);

    @include media-breakpoint-down(md) {
      @include make-col(2, $grid-columns-6);
    }

    background-color: green;
    background-clip: content-box;
  }

  &__component-name2 {
    background-color: yellow;
    background-clip: content-box;
  }

  &__component-name3 {
    @include make-col(3);

    @include media-breakpoint-down(md) {
      @include make-col(2, $grid-columns-6);
    }

    background-color: blue;
    background-clip: content-box;
  }

  &__component-name4 {
    @include make-col-fix(px-to-rem(350px));

    @include media-breakpoint-down(md) {
      @include make-col(6, $grid-columns-6);
    }

    background-color: red;
    background-clip: content-box;
  }

  &__component-name5 {
    @include media-breakpoint-down(md) {
      @include make-col(12);
    }

    @include media-breakpoint-down(md) {
      @include make-col(6, $grid-columns-6);
    }

    background-color: aqua;
    background-clip: content-box;
  }

  //&--fixed {
  //  position: fixed;
  //  right: 0;
  //  left: 0;
  //  z-index: 9000;
  //}
}
