<div class="slider-slick">
  <ul class="slider-slick__list">
    <li class="slider-slick__item"
        style="background-color: greenyellow;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, fugit?
    </li>
    <li class="slider-slick__item"
        style="background-color: blue;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque fugit perferendis! At atque esse nam nisi
      sequi. Doloribus et eum ex facere libero mollitia porro quod ratione repellendus similique.
    </li>
    <li class="slider-slick__item"
        style="background-color: orangered;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, fugit?
    </li>
    <li class="slider-slick__item"
        style="background-color: green;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque fugit perferendis! At atque esse nam nisi
      sequi. Doloribus et eum ex facere libero mollitia porro quod ratione repellendus similique.
    </li>
  </ul>
  <a class="slider-slick-arrow__prev control-arrow control-arrow--prev">Prev</a>
  <a class="slider-slick-arrow__next control-arrow control-arrow--next">Next</a>
  <div class="slider-slick__pagination control-pagination"></div>

  <button class="slider-slick__button button-primary"
          type="button">
    open popup
  </button>
</div>

<div class="slider-slick__popup popup">
  <button class="popup__close control-close"
          type="button"
          data-ui-kit--popup-close-button>
    Close
  </button>

  <header class="popup__header">
    <h2 class="h2 popup__heading">
      JS popup
    </h2>
  </header>
  <div class="popup__main">
    <p class="popup__desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid dolor
      doloribus, enim et exercitationem facere fugit libero maiores odit optio, quaerat qui
      recusandae similique suscipit ut vitae! At id maiores quaerat qui quibusdam quisquam
      reiciendis. Alias asperiores assumenda cumque cupiditate dignissimos distinctio earum
      eius, eveniet, fugit harum, itaque laboriosam libero magnam necessitatibus neque non
      provident quae quaerat quas quasi recusandae sed sunt temporibus vel veniam! At, sit,
      voluptatem. Adipisci magni nulla repudiandae sapiente ullam! Deleniti, et, magnam! Iusto
      natus odit quam tempora unde vero? A animi consequuntur expedita fugit iure unde! Facere
      harum minima nisi, porro quis totam. Neque.
    </p>
  </div>
</div>