.ui-widget-overlay {
  background-color: $black;
  opacity: 0.7;
}

.no-titlebar {

  .ui-dialog-titlebar {
    display: none;
  }
}

.ui-dialog {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  padding: 0;
  overflow: visible;
  border: 0;
  border-radius: 0;
  transform: translate(-50%, -50%);

  .popup {
    position: relative;
    padding: 25px 40px 40px;
    overflow: hidden;
    text-align: center;
    background-color: $amber;
    box-shadow: 0 0 50px rgba($black, 0.35);

    &__close {
      @include sprite($icon-close);

      position: absolute;
      top: 8px;
      right: 16px;
      text-indent: -9999px;
      cursor: pointer;
    }
  }
}