// ==========================================================================
// Ui-kit mixins -- buttons
// ==========================================================================

// Common mixins

@mixin button-fullwidth() {
  width: 100%;
}

@mixin button-size($properties) {
  height: map-get($properties, height);
  padding: px-to-rem(5px) map-get($properties, padding-horizontal);
  font-size: map-get($properties, font-size);
  line-height: map-get($properties, line-height);
}

@mixin button-icon-size($properties) {

  .icon-svg {

    &--right {
      margin-left: map-get($properties, icon-margin-left);
    }

    &--left {
      margin-right: map-get($properties, icon-margin-right);
    }
  }
}

@mixin button-complex-size($properties) {

  .button-complex {

    &__content {
      padding-right: map-get($properties, content-padding-right);
      padding-left: map-get($properties, content-padding-left);
    }

    &__icon {
      height: map-get($properties, icon-height);
      padding-right: map-get($properties, icon-padding-right);
      padding-left: map-get($properties, icon-padding-left);
    }

    &__title {
      font-size: map-get($properties, title-font-size);
      line-height: map-get($properties, title-line-height);
    }

    &__desc {
      font-size: map-get($properties, desc-font-size);
      line-height: map-get($properties, desc-line-height);
    }
  }
}

//
// Button-primary
// --------------------------------------------------------------------------

// variables
$button-primary--size-l: (
  height: px-to-rem(40px),
  padding-horizontal: px-to-rem(40px),
  font-size: px-to-rem(16px),
  line-height: 1.76,
);

$button-primary--size-m: (

);

$button-primary--size-s: (

);

// sizes
@mixin button-primary--size-l {
  @include button-size($button-primary--size-l);
}

@mixin button-primary--size-m {
  @include button-size($button-primary--size-m);
}

@mixin button-primary--size-s {
  @include button-size($button-primary--size-s);
}

// group
@mixin button-primary--size {
  @include button-primary--size-l;

  @include media-breakpoint-down(lg) {
    @include button-primary--size-m;
  }

  @include media-breakpoint-down(sm) {
    @include button-primary--size-s;
  }
}

//
// Button-secondary
// --------------------------------------------------------------------------

$button-secondary--size-l: (
  height: px-to-rem(40px),
  padding-horizontal: px-to-rem(40px),
  font-size: px-to-rem(16px),
  line-height: 1.76,
);

$button-secondary--size-m: (

);

$button-secondary--size-s: (

);

// sizes
@mixin button-secondary--size-l {
  @include button-size($button-secondary--size-l);
}

@mixin button-secondary--size-m {
  @include button-size($button-secondary--size-m);
}

@mixin button-secondary--size-s {
  @include button-size($button-secondary--size-s);
}

// group
@mixin button-secondary--size {
  @include button-secondary--size-l;

  @include media-breakpoint-down(lg) {
    @include button-secondary--size-m;
  }

  @include media-breakpoint-down(sm) {
    @include button-secondary--size-s;
  }
}

//
// Button-icon
// --------------------------------------------------------------------------

// variables
$button-icon--size-l: (
  height: px-to-rem(60px),
  padding-horizontal: px-to-rem(40px),
  font-size: px-to-rem(16px),
  line-height: 1.76,
  icon-margin-right: px-to-rem(10px),
  icon-margin-left: px-to-rem(10px),
);

$button-icon--size-m: (

);

$button-icon--size-s: (

);

// sizes
@mixin button-icon--size-l {
  @include button-size($button-icon--size-l);
  @include button-icon-size($button-icon--size-l);

  .icon-svg {
    @include icon--size-l();
  }
}

@mixin button-icon--size-m {
  @include button-size($button-icon--size-m);
  @include button-icon-size($button-icon--size-m);

  .icon-svg {
    @include icon--size-m();
  }
}

@mixin button-icon--size-s {
  @include button-size($button-icon--size-s);
  @include button-icon-size($button-icon--size-s);

  .icon-svg {
    @include icon--size-m();
  }
}

// group
@mixin button-icon--size {
  @include button-icon--size-l;

  @include media-breakpoint-down(lg) {
    @include button-icon--size-m;
  }

  @include media-breakpoint-down(sm) {
    @include button-icon--size-s;
  }
}

//
// Button-complex
// --------------------------------------------------------------------------

// variables
$button-complex--size-l: (
  height: px-to-rem(60px),
  padding-horizontal: px-to-rem(40px),
  font-size: px-to-rem(16px),
  line-height: 1.76,
  content-padding-right: px-to-rem(32px),
  content-padding-left: 0,
  icon-height: px-to-rem(100px),
  icon-padding-right: 0,
  icon-padding-left: 0,
  title-font-size: px-to-rem(18px),
  title-line-height: 1.76,
  desc-font-size: px-to-rem(14px),
  desc-line-height: 1.68,
);

$button-complex--size-m: (

);

$button-complex--size-s: (

);

// sizes
@mixin button-complex--size-l {
  @include button-size($button-complex--size-l);
  @include button-complex-size($button-complex--size-l);

  .icon-svg {
    @include icon--size-l();
  }
}

@mixin button-complex--size-m {
  @include button-size($button-complex--size-m);
  @include button-complex-size($button-complex--size-m);

  .icon-svg {
    @include icon--size-m();
  }
}

@mixin button-complex--size-s {
  @include button-size($button-complex--size-s);
  @include button-complex-size($button-complex--size-s);

  .icon-svg {
    @include icon--size-m();
  }
}

// group
@mixin button-complex--size {
  @include button-complex--size-l;

  @include media-breakpoint-down(lg) {
    @include button-complex--size-m;
  }

  @include media-breakpoint-down(sm) {
    @include button-complex--size-s;
  }
}

//
// Button-apps
// --------------------------------------------------------------------------

// variables
$button-apps--size-l: (
  height: px-to-rem(60px),
  padding-horizontal: px-to-rem(40px),
  font-size: px-to-rem(16px),
  line-height: 1.76,
  content-padding-right: 0,
  content-padding-left: 0,
  icon-height: px-to-rem(100px),
  icon-padding-right: px-to-rem(16px),
  icon-padding-left: 0,
  title-font-size: px-to-rem(18px),
  title-line-height: 1.76,
  desc-font-size: px-to-rem(14px),
  desc-line-height: 1.68,
);

$button-apps--size-m: (

);

$button-apps--size-s: (

);

// sizes
@mixin button-apps--size-l {
  @include button-size($button-apps--size-l);
  @include button-complex-size($button-apps--size-l);

  .icon-svg {
    @include icon--size-l();
  }
}

@mixin button-apps--size-m {
  @include button-size($button-apps--size-m);
  @include button-complex-size($button-apps--size-m);

  .icon-svg {
    @include icon--size-m();
  }
}

@mixin button-apps--size-s {
  @include button-size($button-apps--size-s);
  @include button-complex-size($button-apps--size-s);

  .icon-svg {
    @include icon--size-m();
  }
}

// group
@mixin button-apps--size {
  @include button-apps--size-l;

  @include media-breakpoint-down(lg) {
    @include button-apps--size-m;
  }

  @include media-breakpoint-down(sm) {
    @include button-apps--size-s;
  }
}
