// ==========================================================================
// Ui-kit mixins -- forms
// ==========================================================================

// Common mixins

@mixin form-field-size($root, $properties) {
  margin-bottom: map-get($properties, field-margin-bottom);

  &__label {
    font-size: map-get($properties, label-font-size);
    line-height: map-get($properties, label-line-heigh);
  }

  &__message {
    font-size: map-get($properties, message-font-size);
    line-height: map-get($properties, message-line-height);
  }

  &__info {
    font-size: map-get($properties, info-font-size);
    line-height: map-get($properties, info-line-height);
  }
}

//
// Form field text
// --------------------------------------------------------------------------

// variables
$form-field-text--size-l: (
  field-margin-bottom: px-to-rem(24px),
  label-font-size: px-to-rem(24px),
  label-line-height: 1.68,
  message-font-size: px-to-rem(16px),
  message-line-height: 1.68,
  info-font-size: px-to-rem(16px),
  info-line-height: 1.68,
  //
  input-height: px-to-rem(96px),
  input-padding-vertical: px-to-rem(12px),
  input-padding-horizontal: px-to-rem(32px),
  input-font-size: px-to-rem(24px),
  input-border-radius: px-to-rem(16px),
  placeholder-float-font-size: px-to-rem(20px),
  placeholder-margin-bottom: px-to-rem(12px),
);

$form-field-text--size-m: (
  field-margin-bottom: px-to-rem(16px),
  input-height: px-to-rem(74px),
  input-padding-vertical: px-to-rem(8px),
  input-padding-horizontal: px-to-rem(24px),
  input-font-size: px-to-rem(16px),
  input-border-radius: px-to-rem(16px),
  message-font-size: px-to-rem(14px),
  message-line-height: 1.68,
  placeholder-float-font-size: px-to-rem(14px),
  placeholder-margin-bottom: px-to-rem(8px),
);

$form-field-text--size-s: (
  field-margin-bottom: px-to-rem(16px),
  input-height: px-to-rem(64px),
  input-padding-vertical: px-to-rem(8px),
  input-padding-horizontal: px-to-rem(24px),
  input-font-size: px-to-rem(14px),
  input-border-radius: px-to-rem(12px),
  message-font-size: px-to-rem(12px),
  message-line-height: 1,
  placeholder-float-font-size: px-to-rem(12px),
  placeholder-margin-bottom: px-to-rem(8px),
);

@mixin form-field-text--size-l($root) {
  @include form-field-size($root, $form-field-text--size-l);
}

@mixin form-field-text--size-m($root) {
  @include form-field-size($root, $form-field-text--size-m);
}

@mixin form-field-text--size-s($root) {
  @include form-field-size($root, $form-field-text--size-s);
}




//
//// form-field
//@mixin form-field--size($root, $properties) {
//
//  @include placeholder {
//    font-size: map-get($properties, input-font-size);
//  }
//
//  margin-bottom: map-get($properties, field-margin-bottom);
//
//  &__input,
//  &__placeholder {
//    font-size: map-get($properties, input-font-size);
//  }
//
//  &__input {
//    height: map-get($properties, input-height);
//    padding: map-get($properties, input-padding-vertical) map-get($properties, input-padding-horizontal);
//    border-radius: map-get($properties, input-border-radius);
//
//    .select {
//
//      &__control,
//      &__menu {
//        margin: 0 -#{map-get($properties, input-padding-horizontal)};
//        border-radius: map-get($properties, input-border-radius);
//      }
//
//      &__control {
//        padding: 0 map-get($properties, input-padding-horizontal);
//      }
//    }
//  }
//
//  &__message {
//    padding-left: map-get($properties, input-padding-horizontal);
//    font-size: map-get($properties, message-font-size);
//    line-height: map-get($properties, message-line-height);
//  }
//
//  &--float-placeholder {
//
//    &#{#{$root}--is-focused},
//    &#{#{$root}--is-filled} {
//
//      #{$root}__placeholder {
//        height: map-get($properties, placeholder-float-font-size);
//        font-size: map-get($properties, placeholder-float-font-size);
//        transform: translateY(calc(-#{map-get($properties, placeholder-float-font-size)} / 2));
//      }
//    }
//
//    #{$root}__placeholder {
//      margin-bottom: map-get($properties, placeholder-margin-bottom);
//      height: map-get($properties, input-height);
//      margin-left: calc(#{map-get($properties, input-padding-horizontal)} - 8px);
//      padding-right: 8px;
//      padding-left: 8px;
//    }
//  }
//}

//@mixin form-field--size-l($root) {
//  @include form-field--size($root, $form-field--size-l);
//}
//
//@mixin form-field--size-m($root) {
//  @include form-field--size($root, $form-field--size-m);
//}
//
//@mixin form-field--size-s($root) {
//  @include form-field--size($root, $form-field--size-s);
//}




// form-field-numbers-range
$form-field-numbers-range--size-l: (
  input-height: px-to-rem(96px),
  input-padding-horizontal: px-to-rem(80px),
  input-font-size: px-to-rem(48px),
);

$form-field-numbers-range--size-m: (
  input-height: px-to-rem(80px),
  input-padding-horizontal: px-to-rem(72px),
  input-font-size: px-to-rem(24px),
);

$form-field-numbers-range--size-s: (
  input-height: px-to-rem(64px),
  input-padding-horizontal: px-to-rem(64px),
  input-font-size: px-to-rem(24px),
);

@mixin form-field-numbers-range--size($root, $properties) {
  @include placeholder {
    font-size: map-get($properties, input-font-size);
  }

  &__input {
    height: map-get($properties, input-height);
    padding-right: map-get($properties, input-padding-horizontal);
    padding-left: map-get($properties, input-padding-horizontal);
    font-size: map-get($properties, input-font-size);
  }
}

@mixin form-field-numbers-range--size-l($root) {
  @include form-field-numbers-range--size($root, $form-field-numbers-range--size-l);
}

@mixin form-field-numbers-range--size-m($root) {
  @include form-field-numbers-range--size($root, $form-field-numbers-range--size-m);
}

@mixin form-field-numbers-range--size-s($root) {
  @include form-field-numbers-range--size($root, $form-field-numbers-range--size-s);
}

// form-field-phone
$form-field-phone--size-l: (
  input-padding-left: px-to-rem(124px),
);

$form-field-phone--size-m: (
  input-padding-left: px-to-rem(96px),
);

$form-field-phone--size-s: (
  input-padding-left: px-to-rem(72px),
);

@mixin form-field-phone--size($root, $properties) {

  &__input {
    padding-left: map-get($properties, input-padding-left);
  }
}

@mixin form-field-phone--size-l($root) {
  @include form-field-phone--size($root, $form-field-phone--size-l);
}

@mixin form-field-phone--size-m($root) {
  @include form-field-phone--size($root, $form-field-phone--size-m);
}

@mixin form-field-phone--size-s($root) {
  @include form-field-phone--size($root, $form-field-phone--size-s);
}
