<nav class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item pagination__item--go-to-start">
      <a class="pagination__link" href="#">Go to start</a>
    </li>
    <li class="pagination__item pagination__item--prev">
      <a class="pagination__link" href="#">Prev</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">1</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">2</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">3</a>
    </li>
    <li class="pagination__item pagination__item--next">
      <a class="pagination__link" href="#">Next</a>
    </li>
    <li class="pagination__item pagination__item--go-to-end">
      <a class="pagination__link" href="#">Go to end</a>
    </li>
  </ul>
</nav>