/* ==========================================================================
   Component -- preview
   ========================================================================== */

.preview {
  $root: &;
  // @include media-breakpoint-down(md) {}

  padding-top: 0;
  padding-bottom: 0;

  &__container {
    //@include make-container-max-widths();
    //@include make-container-with-layout-gutter();
  }

  //&__row {
  //  @include make-row();
  //}
  //
  //&__col {
  //  @include make-col-ready();
  //}

  &__content {

  }

  &__heading {
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__slogan {
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__desc {
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__link {

  }
}