<section class="statistics">
  <div class="statistics__container">
      <ul class="statistics__list">
        <li class="statistics__item">
          <div class="statistics__content">
            <div class="statistics__pic">
              <div class="statistics__icon">Icon</div>
              <!--<div class="statistics__icon">
                <svg>
                  <use xlink:href="#icon-id-card" />
                </svg>
              </div>-->
            </div>
            <div class="statistics__body">
              <p class="statistics__title">Title 1</p>
              <p class="statistics__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </li>
        <li class="statistics__item">
          <div class="statistics__content">
            <div class="statistics__pic">
              <div class="statistics__icon">Icon</div>
              <!--<div class="statistics__icon">
                <svg>
                  <use xlink:href="#icon-id-card" />
                </svg>
              </div>-->
            </div>
            <div class="statistics__body">
              <p class="statistics__title">Title 2</p>
              <p class="statistics__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </li>
        <li class="statistics__item">
          <div class="statistics__content">
            <div class="statistics__pic">
              <div class="statistics__icon">Icon</div>
              <!--<div class="statistics__icon">
                <svg>
                  <use xlink:href="#icon-id-card" />
                </svg>
              </div>-->
            </div>
            <div class="statistics__body">
              <p class="statistics__title">Title 3</p>
              <p class="statistics__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </li>
        <li class="statistics__item">
          <div class="statistics__content">
            <div class="statistics__pic">
              <div class="statistics__icon">Icon</div>
              <!--<div class="statistics__icon">
                <svg>
                  <use xlink:href="#icon-id-card" />
                </svg>
              </div>-->
            </div>
            <div class="statistics__body">
              <p class="statistics__title">Title 4</p>
              <p class="statistics__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </li>
      </ul>
  </div>
</section>