<section class="components-library__section">
  <h2 class="components-library__heading h2">Carousel</h2>
  <div class="components-library__content">

    <div class="carusel" data-uikit-carusel-container>
      <ul class="carusel__list" data-uikit-carusel="carusel-name-1"><!-- carusel -->
        <li class="carusel__item" style="background-color: greenyellow;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, fugit?
        </li>
        <li class="carusel__item" style="background-color: blue;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque fugit perferendis! At atque esse nam nisi sequi. Doloribus et eum ex facere libero mollitia porro quod ratione repellendus similique.
        </li>
        <li class="carusel__item" style="background-color: orangered;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, fugit?
        </li>
        <li class="carusel__item" style="background-color: green;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque fugit perferendis! At atque esse nam nisi sequi. Doloribus et eum ex facere libero mollitia porro quod ratione repellendus similique.
        </li>
        <li class="carusel__item" style="background-color: deepskyblue;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque fugit perferendis! At atque esse nam nisi sequi. Doloribus et eum ex facere libero mollitia porro quod ratione repellendus similique.
        </li>
        <li class="carusel__item" style="background-color: deeppink;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque fugit perferendis! At atque esse nam nisi sequi. Doloribus et eum ex facere libero mollitia porro quod ratione repellendus similique.
        </li>
      </ul>
      <a class="carusel-arrow control-arrow control-arrow--prev">Prev</a>
      <a class="carusel-arrow control-arrow control-arrow--next">Next</a>
      <div class="carusel-pagination control-pagination"></div>
    </div>

    <br><br><br>

    <div class="carusel" data-uikit-carusel-container>
      <ul class="carusel__list" data-uikit-carusel="carusel-name-2">
        <li class="carusel__item" style="background-color: greenyellow;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, fugit?
        </li>
        <li class="carusel__item" style="background-color: blue;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque fugit perferendis! At atque esse nam nisi sequi. Doloribus et eum ex facere libero mollitia porro quod ratione repellendus similique.
        </li>
        <li class="carusel__item" style="background-color: orangered;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, fugit?
        </li>
        <li class="carusel__item" style="background-color: green;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque fugit perferendis! At atque esse nam nisi sequi. Doloribus et eum ex facere libero mollitia porro quod ratione repellendus similique.
        </li>
        <li class="carusel__item" style="background-color: deepskyblue;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque fugit perferendis! At atque esse nam nisi sequi. Doloribus et eum ex facere libero mollitia porro quod ratione repellendus similique.
        </li>
        <li class="carusel__item" style="background-color: deeppink;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque fugit perferendis! At atque esse nam nisi sequi. Doloribus et eum ex facere libero mollitia porro quod ratione repellendus similique.
        </li>
      </ul>
      <a class="carusel-arrow control-arrow control-arrow--prev">Prev</a>
      <a class="carusel-arrow control-arrow control-arrow--next">Next</a>
      <div class="carusel-pagination control-pagination"></div>
    </div>

  </div>
</section>