<section class="components-library__section">
  <h2 class="components-library__heading h2">Control</h2>
  <div class="components-library__content">

    <div class="components-library__row">
      <div class="components-library__col">

        <a class="control-close">Close</a>
        <!--<a class="control-close">Close
          <svg>
            <use xlink:href="#id" />
          </svg>
        </a>-->

      </div>
      <div class="components-library__col">

        <a class="control-arrow control-arrow--prev">Prev</a>
        <!--<a class="control-arrow control-arrow&#45;&#45;prev">Prev
           <svg>
             <use xlink:href="#id" />
           </svg>
        </a>-->
        <a class="control-arrow control-arrow--next">Next</a>
        <!--<a class="control-arrow control-arrow&#45;&#45;next">Next
          <svg>
            <use xlink:href="#id" />
          </svg>
        </a>-->

      </div>
      <div class="components-library__col">

        <div class="control-pagination"></div>

        <div class="control-pagination">
          <ul class="slick-dots" role="tablist" style="">
            <li class="slick-active" role="presentation">
              <button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 2" tabindex="0" aria-selected="true">1</button>
            </li>
            <li role="presentation">
              <button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 2" tabindex="-1">2</button>
            </li>
            <li role="presentation">
              <button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 2" tabindex="-1">3</button>
            </li>
            <li role="presentation">
              <button type="button" role="tab" id="slick-slide-control03" aria-controls="slick-slide03" aria-label="4 of 2" tabindex="-1">4</button>
            </li>
            <li role="presentation">
              <button type="button" role="tab" id="slick-slide-control04" aria-controls="slick-slide04" aria-label="3 of 2" tabindex="-1">5</button>
            </li>
            <li role="presentation">
              <button type="button" role="tab" id="slick-slide-control05" aria-controls="slick-slide05" aria-label="3 of 2" tabindex="-1">6</button>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</section>