<section class="components-library__section">
  <header class="components-library__header">
    <h2 class="components-library__heading h2">Lead (complex heading)</h2>
  </header>
  <div class="components-library__content">
    <div class="components-library__row">
      <div class="components-library__col col-sm-8">

        <div class="ui-kit-library__container">
          <h4 class="ui-kit-library__heading ui-kit-library__heading--h4">
            <span>L</span>
          </h4>

          <div class="lead lead--size-l">
            <h1 class="lead__heading heading heading--h1">Lead heading</h1>
            <p class="lead__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet aperiam assumenda blanditiis commodi eligendi eveniet ex maxime modi molestiae, nemo nostrum numquam, optio quo recusandae sunt temporibus totam voluptas.</p>
          </div>

          <h4 class="ui-kit-library__heading ui-kit-library__heading--h4">
            <span>M</span>
          </h4>

          <h4 class="ui-kit-library__heading ui-kit-library__heading--h4">
            <span>S</span>
          </h4>

        </div>

      </div>
      <div class="components-library__col col-sm-4">
        <div class="components-library__container">

        </div>
      </div>
    </div>
  </div>
</section>