<section class="components-library__section">
  <h2 class="components-library__heading h2">Popups</h2>
  <div class="components-library__content">

    <div class="ui-kit-library__container">
      <div class="ui-kit-library__row">
        <div class="ui-kit-library__col">
          <button class="button-primary"
                  type="button"
                  data-ui-kit--popup-open-button="popup-name">
            Open fancybox popup
          </button>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="popup"
     data-ui-kit--popup-name="popup-name">
  <button class="popup__close control-close"
          type="button"
          data-ui-kit--popup-close-button>
    Close
  </button>

  <header class="popup__header">
    <h2 class="h2 popup__heading">
      Fancybox default popup
    </h2>
  </header>
  <div class="popup__main">
    <p class="popup__desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid dolor
      doloribus, enim et exercitationem facere fugit libero maiores odit optio, quaerat qui
      recusandae similique suscipit ut vitae! At id maiores quaerat qui quibusdam quisquam
      reiciendis. Alias asperiores assumenda cumque cupiditate dignissimos distinctio earum
      eius, eveniet, fugit harum, itaque laboriosam libero magnam necessitatibus neque non
      provident quae quaerat quas quasi recusandae sed sunt temporibus vel veniam! At, sit,
      voluptatem. Adipisci magni nulla repudiandae sapiente ullam! Deleniti, et, magnam! Iusto
      natus odit quam tempora unde vero? A animi consequuntur expedita fugit iure unde! Facere
      harum minima nisi, porro quis totam. Neque.
    </p>
  </div>
</div>