@import "../../../../styles/dependencies";

/* ==========================================================================
   Ui-kit elements -- PlugSecondary
   ========================================================================== */

.plug-secondary {
  $root: &;
  //@include media-breakpoint-down(md) {}

  @extend %plug-bg-color;
  @extend %plug-outline;

  min-height: px-to-rem(400px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    max-width: px-to-rem(416px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .icon-wrap {
      @include icon-wrap--size($root, "xl");

      .icon-svg {
        @include icon--size($root, "m")
      }

      margin-right: 0;
    }

    .desc {
      @include desc--size($root, "s");
      @include desc--color-theme($root, "gray-primary");

      margin-top: px-to-rem(16px);
    }
  }

  @include media-breakpoint-down(md) {

    padding-left: px-to-rem(16px);
    padding-right: px-to-rem(16px);

    &__content {

      .icon-wrap {
        @include icon-wrap--size($root, "m");

        .icon-svg {
          @include icon--size($root, "m")
        }

        margin-right: 0;
      }

      .desc {
        margin-top: px-to-rem(8px);
      }
    }
  }
}
