/* ==========================================================================
   Component -- features
   ========================================================================== */

.features {
  $root: &;
  //@include media-breakpoint-down(md) {}

  min-height: 100px;
  padding-top: 0;
  padding-bottom: 0;

  &__container {
    //@include make-container-with-sides();
    //@include make-container-with-sides-max-widths();
  }

  &__header {

  }

  &__main {

  }

  &__heading {
    margin-top: 0;
  }

  &__list {
    @include make-row();

    position: relative;
    //display: flex;
    margin-bottom: -50px;
    padding: 0;
    list-style: none;
  }

  &__item {
    //@include make-col-ready();
    @include make-col(4);

    margin-bottom: 50px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__pic {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }

  &__body {
    text-align: center;
  }

  &__icon {
    position: relative;
    width: 100px;
    height: 100px;
    text-indent: -9999px;
    background-color: aqua;

    &::after {
      //@include sprite($icon-instagram);

      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      background-color: blueviolet;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      content: "";
    }

    //svg {
    //  position: absolute;
    //  top: 50%;
    //  left: 50%;
    //  width: 25px;
    //  height: 100%;
    //  padding: 0;
    //  transform: translate(-50%, -50%);
    //}
  }

  &__title,
  &__desc {
    margin: 0;
  }

  &__title {
    font-weight: bold;
  }

  &__desc {

  }
}
