/* ==========================================================================
   Ui-kit elements -- body-text
   ========================================================================== */

/* Default styles
   -------------------------------------------------------------------------- */

p {
  margin-top: 1em;
  margin-bottom: 1em;

  &:first-child,
  &:first-of-type {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

/* Established styles
   -------------------------------------------------------------------------- */

// Dependencies

%body-text {
  display: flex;
  align-items: center;
}

//
// Body text
// --------------------------------------------------------------------------

.body-text {
  //@include media-breakpoint-down(md) {}
  $root: &;
  @extend %body-text;
  @include body-text-sizes($root);
  @include body-text--size($root, "l");

  @include media-breakpoint-down(lg) {
    @include body-text--size($root, "m");
  }

  @include media-breakpoint-down(sm) {
    @include body-text--size($root, "s");
  }
}
