/* ==========================================================================
   Ui-kit elements -- buttons
   ========================================================================== */

/* Default styles
   -------------------------------------------------------------------------- */

button {
  margin: 0;
  text-align: left;
  text-decoration: none;
  background: none;
  border: none;
  user-select: none;
}

/* Established styles
   -------------------------------------------------------------------------- */

// Dependencies

%button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
  color: $color-white;
  font-family: $secure-fonts;
  text-decoration: none;
  transition: all 0.2s;

  &:last-child {
    margin-right: 0;
  }

  &:focus,
  &[data-state="focus"] {
    @extend %button-state--focus;
  }

  &:hover,
  &[data-state="hover"] {
    @extend %button-state--hover;
  }

  &:active,
  &[data-state="active"] {
    @extend %button-state--active;
  }

  &[disabled],
  &[data-state="disabled"] {
    @extend %button-state--disabled;
  }

  &[data-width="fullwidth"] {
    @include fullwidth;
  }
}

%button-state--focus {
  outline: 0;
}

%button-state--hover,
%button-state--active {
  cursor: pointer;
}

%button-state--disabled {
  cursor: default;
  opacity: 0.2;
  pointer-events: none;
}

//
// Button primary
// --------------------------------------------------------------------------

.button-primary {
  //@include media-breakpoint-down(md) {}
  $root: &;
  @extend %button;
  @include buttons-sizes($root, "button-primary");
  @include button-primary--size($root, "l");

  @include media-breakpoint-down(lg) {
    @include button-primary--size($root, "m");
  }

  @include media-breakpoint-down(sm) {
    @include button-primary--size($root, "s");
  }

  background-color: green;

  &:hover,
  &[data-state="hover"] {
    background-color: red;
  }

  &:active,
  &[data-state="active"] {
    opacity: 0.5;
  }
}

//
// Button secondary
// --------------------------------------------------------------------------

.button-secondary {
  //@include media-breakpoint-down(md) {}
  $root: &;
  @extend %button;
  @include buttons-sizes($root, "button-secondary");
  @include button-secondary--size($root, "l");

  @include media-breakpoint-down(lg) {
    @include button-secondary--size($root, "m");
  }

  @include media-breakpoint-down(sm) {
    @include button-secondary--size($root, "s");
  }

  text-transform: uppercase;
  background-color: cornflowerblue;

  &:hover,
  &[data-state="hover"] {
    background-color: dodgerblue;
  }

  &:active,
  &[data-state="active"] {
    opacity: 0.5;
  }
}

//
// Button complex
// --------------------------------------------------------------------------

.button-complex {
  //@include media-breakpoint-down(md) {}
  $root: &;
  @extend %button;
  @include buttons-sizes($root, "button-complex");
  @include button-complex--size($root, "l");

  @include media-breakpoint-down(lg) {
    @include button-complex--size($root, "m");
  }

  @include media-breakpoint-down(sm) {
    @include button-complex--size($root, "s");
  }

  background-color: purple;

  &:hover,
  &[data-state="hover"] {
    background-color: mediumpurple;
  }

  &:active,
  &[data-state="active"] {
    opacity: 0.5;
  }

  &__content {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__title,
  &__desc {
    white-space: nowrap;
  }
}

//
// Button apps
// --------------------------------------------------------------------------

.button-apps {
  //@include media-breakpoint-down(md) {}
  $root: &;
  @extend %button;
  @include buttons-sizes($root, "button-apps");
  @include button-apps--size($root, "l");

  @include media-breakpoint-down(lg) {
    @include button-apps--size($root, "m");
  }

  @include media-breakpoint-down(sm) {
    @include button-apps--size($root, "s");
  }

  background-color: cadetblue;

  &:hover,
  &[data-state="hover"] {
    background-color: skyblue;
  }

  &:active,
  &[data-state="active"] {
    opacity: 0.5;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title,
  &__desc {
    white-space: nowrap;
  }

  &__desc {
    @include size-l--caption;

    @include media-breakpoint-down(lg) {
      @include size-m--caption;
    }

    @include media-breakpoint-down(sm) {
      @include size-s--caption;
    }
  }

  &__title {
    @include h6--size($root, "l");

    @include media-breakpoint-down(lg) {
      @include h6--size($root, "m");
    }

    @include media-breakpoint-down(sm) {
      @include h6--size($root, "s");
    }

    margin-bottom: 0 !important;
    color: inherit;
  }
}