/* ==========================================================================
   Ui-kit elements -- buttons
   ========================================================================== */

/*
   Default styles
   -------------------------------------------------------------------------- */

button {
  text-decoration: none;
  background: none;
  border: none;
  user-select: none;
}

/*
   Established styles
   -------------------------------------------------------------------------- */

/* Extends, mixins */

%button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 px-to-rem(24px) 0 0;
  color: $white;
  font-family: $secure-fonts;
  transition: all 0.2s;

  &:last-child {
    margin-right: 0;
  }

  &:focus {
    outline: 0;
  }
}

%button-primary-color {
  @extend %button;

  background-color: red;

  &:hover {

  }

  &:active {

  }
}

%button-secondary-color {
  @extend %button;

  background-color: green;

  &:hover {

  }

  &:active {

  }
}

%button-disabled {
  background-color: $gallery;
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

/* Button-primary */

.button-primary {
  @extend %button-primary-color;

  &--fullwidth {
    @include button-fullwidth;
  }

  &--disabled {
    @extend %button-disabled;
  }

  // ----------------------------------------

  // sizes

  &--size-l {
    @include button-primary--size-l;
  }

  &--size-m {
    @include button-primary--size-m;
  }

  &--size-s {
    @include button-primary--size-s;
  }
}

/* Button-secondary */

.button-secondary {
  @extend %button-secondary-color;

  &--fullwidth {
    @include button-fullwidth;
  }

  &--disabled {
    @extend %button-disabled;
  }

  // ----------------------------------------

  // sizes

  &--size-l {
    @include button-secondary--size-l;
  }

  &--size-m {
    @include button-secondary--size-m;
  }

  &--size-s {
    @include button-secondary--size-s;
  }
}

/* Button-icon */

.button-icon {
  @extend %button;

  margin-right: 0;
  background-color: #1da1f2;

  &--fullwidth {
    @include button-fullwidth;
  }

  &--disabled {
    @extend %button-disabled;
  }

  // ----------------------------------------

  // sizes

  &--size-l {
    @include button-icon--size-l;
  }

  &--size-m {
    @include button-icon--size-m;
  }

  &--size-s {
    @include button-icon--size-s;
  }
}

/* Button-complex */

.button-complex {
  @extend %button;

  background-color: purple;

  &__content,
  &__icon {
    display: flex;
  }

  &__content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__icon {
    align-items: center;
  }

  &__title {
    white-space: nowrap;
  }

  &__desc {

  }

  &--fullwidth {
    @include button-fullwidth;
  }

  &--disabled {
    @extend %button-disabled;
  }

  // ----------------------------------------

  // sizes

  &--size-l {
    @include button-complex--size-l;
  }

  &--size-m {
    @include button-complex--size-m;
  }

  &--size-s {
    @include button-complex--size-s;
  }
}

/* Button-apps */

.button-apps {
  @extend %button;

  background-color: purple;

  &__content,
  &__icon {
    display: flex;
  }

  &__content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__icon {
    align-items: center;
  }

  &__title {
    white-space: nowrap;
  }

  &__desc {

  }

  &--fullwidth {
    @include button-fullwidth;
  }

  &--disabled {
    @extend %button-disabled;
  }

  // ----------------------------------------

  // sizes

  &--size-l {
    @include button-apps--size-l;
  }

  &--size-m {
    @include button-apps--size-m;
  }

  &--size-s {
    @include button-apps--size-s;
  }
}