/* ==========================================================================
   Ui-kit elements -- buttons
   ========================================================================== */

/* Default styles
   -------------------------------------------------------------------------- */

button {
  margin: 0;
  text-align: left;
  text-decoration: none;
  background: none;
  border: none;
  user-select: none;
}

/* Established styles
   -------------------------------------------------------------------------- */

// Dependencies

%button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
  color: $color-white;
  font-family: $secure-fonts;
  transition: all 0.2s;

  &:last-child {
    margin-right: 0;
  }
}

%button-state--focus {
  outline: 0;
}

%button-state--hover,
%button-state--active {
  cursor: pointer;
}

%button-state--disabled {
  cursor: default;
  opacity: 0.2;
  pointer-events: none;
}

//
// Button primary
// --------------------------------------------------------------------------

.button-primary {
  @extend %button;
  @include size-l--button-primary;

  @include media-breakpoint-down(lg) {
    @include size-m--button-primary;
  }

  @include media-breakpoint-down(sm) {
    @include size-s--button-primary;
  }

  background-color: green;

  &:hover,
  &--hover {
    @extend %button-state--hover;

    background-color: red;
  }

  &:active,
  &--active {
    @extend %button-state--active;

    opacity: 0.5;
  }

  &:focus {
    @extend %button-state--focus;
  }

  &--fullwidth {
    @include fullwidth;
  }

  &--disabled {
    @extend %button-state--disabled;
  }

  // ----------------------------------------

  // sizes

  &--size-l {
    @include size-l--button-primary(!important);
  }

  &--size-m {
    @include size-m--button-primary(!important);
  }

  &--size-s {
    @include size-s--button-primary(!important);
  }
}

//
// Button secondary
// --------------------------------------------------------------------------

.button-secondary {
  @extend %button;
  @include size-l--button-secondary;

  @include media-breakpoint-down(lg) {
    @include size-m--button-secondary;
  }

  @include media-breakpoint-down(sm) {
    @include size-s--button-secondary;
  }

  text-transform: uppercase;
  background-color: cornflowerblue;

  &:hover,
  &--hover {
    @extend %button-state--hover;

    background-color: dodgerblue;
  }

  &:active,
  &--active {
    @extend %button-state--active;

    opacity: 0.5;
  }

  &:focus {
    @extend %button-state--focus;
  }

  &--fullwidth {
    @include fullwidth;
  }

  &--disabled {
    @extend %button-state--disabled;
  }

  // ----------------------------------------

  // sizes

  &--size-l {
    @include size-l--button-secondary(!important);
  }

  &--size-m {
    @include size-m--button-secondary(!important);
  }

  &--size-s {
    @include size-s--button-secondary(!important);
  }
}

//
// Button complex
// --------------------------------------------------------------------------

.button-complex {
  $root: ".button-complex";

  @extend %button;
  @include size-l--button-complex($root);

  @include media-breakpoint-down(lg) {
    @include size-m--button-complex($root);
  }

  @include media-breakpoint-down(sm) {
    @include size-s--button-complex($root);
  }

  background-color: purple;

  &:hover,
  &--hover {
    @extend %button-state--hover;

    background-color: mediumpurple;
  }

  &:active,
  &--active {
    @extend %button-state--active;

    opacity: 0.5;
  }

  &:focus {
    @extend %button-state--focus;
  }

  &__content {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__title,
  &__desc {
    white-space: nowrap;
  }

  &--fullwidth {
    @include fullwidth;
  }

  &--disabled {
    @extend %button-state--disabled;
  }

  // ----------------------------------------

  // sizes

  &--size-l {
    @include size-l--button-complex($root, !important);
  }

  &--size-m {
    @include size-m--button-complex($root, !important);
  }

  &--size-s {
    @include size-s--button-complex($root, !important);
  }
}

//
// Button apps
// --------------------------------------------------------------------------

.button-apps {
  $root: ".button-apps";

  @extend %button;
  @include size-l--button-apps($root);

  @include media-breakpoint-down(lg) {
    @include size-m--button-apps($root);
  }

  @include media-breakpoint-down(sm) {
    @include size-s--button-apps($root);
  }

  background-color: purple;

  &:hover,
  &--hover {
    @extend %button-state--hover;

    background-color: mediumpurple;
  }

  &:active,
  &--active {
    @extend %button-state--active;

    opacity: 0.5;
  }

  &:focus {
    @extend %button-state--focus;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title,
  &__desc {
    white-space: nowrap;
  }

  &__desc {
    @include size-l--caption;

    @include media-breakpoint-down(lg) {
      @include size-m--caption;
    }

    @include media-breakpoint-down(sm) {
      @include size-s--caption;
    }
  }

  &__title {
    @include size-l--h6;

    @include media-breakpoint-down(lg) {
      @include size-m--h6;
    }

    @include media-breakpoint-down(sm) {
      @include size-s--h6;
    }

    margin-bottom: 0 !important;
    color: inherit;
  }

  &--fullwidth {
    @include fullwidth;
  }

  &--disabled {
    @extend %button-state--disabled;
  }

  // ----------------------------------------

  // sizes

  &--size-l {
    @include size-l--button-apps($root, !important);
  }

  &--size-m {
    @include size-m--button-apps($root, !important);
  }

  &--size-s {
    @include size-s--button-apps($root, !important);
  }
}