/* ==========================================================================
   Ui-kit component -- desc, captions
   ========================================================================== */

/* Default styles
   -------------------------------------------------------------------------- */

p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* Established styles
   -------------------------------------------------------------------------- */

// Extends, mixins

%desc {
  margin-bottom: 1.5em;

  &:last-child {
    margin-bottom: 0;
  }
}

/* ----- Desc */

.desc {
  //@include media-breakpoint-down(md) {}

  @extend %desc;

  // ----------------------------------------

  // sizes

  &--size-l {
    @include desc--size-l;
  }

  &--size-m {
    @include desc--size-m;
  }

  &--size-s {
    @include desc--size-s;
  }
}

/* ----- Desc icon */

.desc-icon {
  @extend %desc;
  @include desc-icon--size;

  display: flex;
  align-items: center;

  &__icon {

  }

  // ----------------------------------------

  // sizes

  &--size-l {
    @include desc-icon--size-l;
  }

  &--size-m {
    @include desc-icon--size-m;
  }

  &--size-s {
    @include desc-icon--size-s;
  }
}

/* ----- Captions */

.caption {

  @extend %desc;

  // ----------------------------------------

  // sizes

  &--size-l {
    @include caption--size-l;
  }

  &--size-m {
    @include caption--size-m;
  }

  &--size-s {
    @include caption--size-s;
  }
}