/* ==========================================================================
   Ui-kit elements -- icons
   ========================================================================== */

/* Default styles
   -------------------------------------------------------------------------- */

svg {

}

/* Established styles
   -------------------------------------------------------------------------- */

// Dependencies

%icon {

  &[data-state="disabled"],
  &[data-state="disabled"]::after {
    @extend %icon-state--disabled;
  }
}

%icon-state--disabled {
  opacity: 0.5;
}

//
// Icon svg
// --------------------------------------------------------------------------

.icon-svg {
  $root: &;
  @extend %icon;
  @include icons-sizes($root);

  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: cyan;

  svg {
    @include full-fit;

    background-color: red;
    border-radius: 50%;
  }
}

//
// Icon png
// --------------------------------------------------------------------------

.icon-png {
  $root: &;
  @extend %icon;
  @include icons-sizes($root);

  position: relative;
  display: inline-flex;
  text-indent: -9999px;
  background-color: cyan;

  &::after {
    @include centring-position-absolute;
    @include full-fit;

    background-color: darkviolet;
    border-radius: 50%;
    content: "";
  }
}
