/* ==========================================================================
   Ui-kit component -- lead
   ========================================================================== */

//
// Established styles
// --------------------------------------------------------------------------

.lead {
  $root: ".lead";
  //@include media-breakpoint-down(md) {}

  position: relative;
  padding-bottom: px-to-rem(10px);

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 5px;
    background-color: $black;
    content: "";
  }

  &__heading {
    margin-bottom: px-to-rem(20px);
  }

  &__desc {
    margin: 0;
  }

  // ----------------------------------------

  // sizes

  &--size-l {
    @include lead--size-l;
  }

  &--size-m {
    @include lead--size-m;
  }

  &--size-s {
    @include lead--size-s;
  }
}
