/* ==========================================================================
   Ui-kit elements -- links
   ========================================================================== */

/* Default styles
   -------------------------------------------------------------------------- */

a {

}

/* Established styles
   -------------------------------------------------------------------------- */

// Dependencies

%link {
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}

%link-state--hover {
  text-decoration: underline;
}

%link-state--active {
  color: blue;
}

%link-state--disabled {
  cursor: default;
  opacity: 0.3;
  pointer-events: none;
}

//
// Link primary
// --------------------------------------------------------------------------

.link-primary {
  @extend %link;
  @include size-l--link-primary;

  @include media-breakpoint-down(lg) {
    @include size-m--link-primary;
  }

  @include media-breakpoint-down(sm) {
    @include size-s--link-primary;
  }

  &:hover,
  &--hover {
    @extend %link-state--hover;
  }

  &:active,
  &--active {
    @extend %link-state--active;
  }

  &--disabled {
    @extend %link-state--disabled;
  }

  // ----------------------------------------

  // sizes

  &--size-l {
    @include size-l--link-primary(!important);
  }

  &--size-m {
    @include size-m--link-primary(!important);
  }

  &--size-s {
    @include size-s--link-primary(!important);
  }
}

/* ----- Link secondary */

.link-secondary {
  @extend %link;
  @include size-l--link-secondary;

  @include media-breakpoint-down(lg) {
    @include size-m--link-secondary;
  }

  @include media-breakpoint-down(sm) {
    @include size-s--link-secondary;
  }

  &:hover,
  &--hover {
    @extend %link-state--hover;
  }

  &:active,
  &--active {
    @extend %link-state--active;
  }

  &--disabled {
    @extend %link-state--disabled;
  }

  // ----------------------------------------

  // sizes

  &--size-l {
    @include size-l--link-secondary(!important);
  }

  &--size-m {
    @include size-m--link-secondary(!important);
  }

  &--size-s {
    @include size-s--link-secondary(!important);
  }
}
