/* ==========================================================================
   Ui-kit elements -- links
   ========================================================================== */

/* Default styles
   -------------------------------------------------------------------------- */

a {

}

/* Established styles
   -------------------------------------------------------------------------- */

// Dependencies

%link {
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;

  &:hover,
  &[data-state="disabled"] {
    @extend %link-state--hover;
  }

  &:active,
  &[data-state="active"] {
    @extend %link-state--active;
  }

  &[disabled],
  &[data-state="disabled"] {
    @extend %link-state--disabled;
  }
}

%link-state--hover {
  text-decoration: underline;
}

%link-state--active {
  color: blue;
}

%link-state--disabled {
  cursor: default;
  opacity: 0.3;
  pointer-events: none;
}

//
// Link primary
// --------------------------------------------------------------------------

.link-primary {
  $root: &;
  @extend %link;
  @include links-sizes($root, "link-primary");
  @include link-primary--size($root, "l");

  @include media-breakpoint-down(lg) {
    @include link-primary--size($root, "m");
  }

  @include media-breakpoint-down(sm) {
    @include link-primary--size($root, "s");
  }
}

/* ----- Link secondary */

.link-secondary {
  $root: &;
  @extend %link;
  @include links-sizes($root, "link-secondary");
  @include link-secondary--size($root, "l");

  @include media-breakpoint-down(lg) {
    @include link-secondary--size($root, "m");
  }

  @include media-breakpoint-down(sm) {
    @include link-secondary--size($root, "s");
  }
}
