// =============================================================================
// Mixins -- Desc size
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

@mixin desc--size($root, $size, $important: null) {
  line-height: 1.4;

  @if $size == "l" {
    font-size: px-to-rem(18px) !important;
  }

  @if $size == "m" {
    font-size: px-to-rem(16px) !important;
  }

  @if $size == "s" {
    font-size: px-to-rem(14px) !important;
  }

  @if $size == "xs" {
    font-size: px-to-rem(12px) !important;
  }
}

//
// Mixin data-attributes
// --------------------------------------------------------------------------

$descSizes: (
  "l",
  "m",
  "s",
  "xs",
);

@mixin desc-sizes($root) {
  @each $key in $descSizes {
    &[data-size="#{$key}"] {
      @include desc--size($root, $key, !important);
    }
  }
}
