/* ==========================================================================
   Component FOOTER
   ========================================================================== */

.footer {
  $root: &;

  display: flex;
  flex-direction: column;
  min-height: inherit;
  overflow: hidden;
  background-color: red;

  &__section {

    &:nth-child(1) {
      flex-grow: 1;
      background-color: orange;
    }

    &:nth-child(2) {
      min-height: 50px;
      background-color: gray;
    }
  }

  &__container {
    @include make-container();
    @include make-container-max-widths();
  }

  &__row {
    @include make-row();

    min-height: inherit;
  }

  &__col {
    @include make-col-ready();

    padding: 5px;
  }

  &__component-name1 {
    //@include media-breakpoint-down(md) {}

    background-color: green;
  }

  &__component-name2 {
    background-color: yellow;
  }

  &__component-name3 {
    background-color: blue;
  }

  &__component-name4 {
    background-color: red;
  }

  &__component-name5 {
    background-color: aqua;
  }
}
