.contact-info {
  $root: &;

  &__item {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    padding-left: 50px;

    &::before {
      position: absolute;
      left: 0;
      width: 40px;
      height: 40px;
      background-color: aqua;
      border-radius: 50%;
      content: "";
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__title,
  &__text {
    display: block;
  }

  &__title {
    font-weight: bold;
  }

  &__text {
    text-decoration: none;
  }
}
